          <%= select_tag "maturidade_id", options_from_collection_for_select(@maturidades, "id", "nome", @opcao), prompt: "Escolha um modelo", class: "modelo corpo_texto_select" %>
        </div>
        
        <%if @opcao != 0%>
          <% maturidade_selecionada = Maturidade.find(@opcao)%>
          <div id="mudancaResultado" class="<%=maturidade_selecionada.resultadoEscolha%>"> </div>
          <% salvar_resultado_escolha = maturidade_selecionada.resultadoEscolha%>
        <% else %>
          <% maturidade_selecionada = Maturidade.new %>
        <%end%>
        <button onclick="showModalInfos()" class="header-title-info d-flex-center-center h-100">
          <%= image_tag('icons/info.svg', width: '25px', height: '25px') %>
        </button>
      </div>
      <div class="header-links d-flex-center-start h-100 w-fit">
        <div class="header-links-wrapper d-flex-center-center">
          <!-- <div class="header-link d-flex-center-start h-fit">
            <%= image_tag('icons/folder_full.svg', width: '20px', height: '20px') %>
            <a href="#">Modelo Salvo 01</a>
          </div>
          <div class="header-link d-flex-center-start h-fit">
            <%= image_tag('icons/folder_full.svg', width: '20px', height: '20px') %>
            <a href="#">Modelo Salvo 02</a>
          </div>
          <div class="header-link d-flex-center-start h-fit">
            <%= image_tag('icons/folder_full.svg', width: '20px', height: '20px') %>
            <a href="#">Modelo Salvo 03</a>
          </div> -->
          <div onclick="openDimensaoForm()" style="cursor: pointer" class="header-link d-flex-center-start h-fit">
            <%= image_tag('icons/add_to_folder.svg', width: '25px', height: '25px') %>
            <a>Adicionar nova Dimensão</a>
          </div>
        </div>
      </div>
    </header>
    <section class="main-content main-utlizar-modelo">


    <!-- #Div de criação de nova dimensão-->
    <div id="create_new_dimencao" class="main-create-level w-100 create-dimencao hidden">
        <p>Nova Dimensão:</p>
        <form id="form_create_dimensao" action="/cadastro/incluir_dimensao" method="post" class="d-flex-center-center flex-column h-100">
          <div class="form-control d-flex-center-center">
            <label for="nome_dimensao">Nome:</label>
            <textarea type="text" id="nome_dimensao" name="descricao"></textarea>
            <input name="maturidade_id" type="text" id="maturidade_dimensao" class="hidden" value="<%= @opcao%>">
          </div>
          <div class="main-create-level-buttons">
            <button class="main-create-level-submit">Cadastrar</button>
            <a onclick="openDimensaoForm()" class="main-create-level-cancel">cancelar</a>
          </div>
        </form>
      </div> 
    <!-- #Fim da Div de criação de nova dimensão-->
    <!-- #Div de Alteração de dimensão-->
    <div id="edit_dimencao" class="main-create-level w-100 create-dimencao hidden">
        <p>Editar Dimensão:</p>
        <form action="" id="form_edit_dimensao" method="post" class="d-flex-center-center flex-column h-100">
          <div class="form-control d-flex-center-center">
            <input type="hidden" name="opcao" value="<%= @opcao %>">
            <label for="nome_editar_dimensao">Nome:</label>
            <textarea type="text" id="nome_editar_dimensao" name="descricao"></textarea>

            <!-- <input name="maturidade_id" type="text" id="maturidade_dimensao" class="hidden" value="<%= @opcao%>"> -->
          </div>
          <div class="main-create-level-buttons">
            <button class="main-create-level-submit">Salvar</button>
            <a onclick="openDimensaoEditForm()" class="main-create-level-cancel">cancelar</a>
          </div>
        </form>
      </div> 
    <!-- #Fim de Alteração de dimensão-->


    <!--# Início do loop de dimensões -->
    <% contadorDimensaos = 1 %>
    <% @dimensaos.each do |dimensao| %>
    <%if dimensao.maturidade_id == @opcao%>
    <!--# Início da Dimensão X -->
      <div id="dimencao-<%= dimensao.id %>" class="dimencao dimensao-lista" data-resultado-escolha="<%= salvar_resultado_escolha %>">
        <!--# Início do Header da Dimensão X -->
        <div id="header-dimencao-<%= dimensao.id %>" class="expandable-header d-flex-center-between dimencao w-100">
          <!-- #expandeMain(grau do modelo + '-' + id) -->
          <div class="expandable-header-left d-flex-center-start" onclick="show_todos_processos(<%= dimensao.id %>)">
            <div class="h-100" onclick="expandeMain('dimencao-<%= dimensao.id %>')">
              <i id="plus-dimencao-<%= dimensao.id %>"  class="icon-plus"></i>
              <i id="minus-dimencao-<%= dimensao.id %>"  class="icon-minus hidden"></i>
            </div>
            <h3 id="titulo-nivel-<%= dimensao.id %>" style="max-height: 25px;" onclick="mostra_titulo('<%= dimensao.id %>')"><strong class="numero-dimensao"></strong><%= dimensao.descricao %></h3>
            
            <%if maturidade_selecionada.nivelEscolha == "3"%>
              <form id="meu_formulario_dimensoes" action="/cadastro/<%= dimensao.id %>/salvar_dimensao_nivel" method="post">
                <select class="nivel_maturidade_select" style="font-size: 13px!important; padding: 2px 6px" name="nivel_selecionado" onchange="submitForm(this)">
                  <%if maturidade_selecionada.tipoNivel == "1"%>
                    <%if maturidade_selecionada.menorNivel.to_i < maturidade_selecionada.maiorNivel.to_i%>
                      <%menorContador = maturidade_selecionada.menorNivel.to_i%>
                      <%maiorContador = maturidade_selecionada.maiorNivel.to_i%>
                      <%menorContador = menorContador.to_i%>
                      <%maiorContador = maiorContador.to_i%>
                    <%else%>
                      <%maiorContador = maturidade_selecionada.menorNivel.to_i%>
                      <%menorContador = maturidade_selecionada.maiorNivel.to_i%>
                      <%menorContador = menorContador.to_i%>
                      <%maiorContador = maiorContador.to_i%>
                    <%end%>
                    <% nivel_resultado_selecionado = dimensao.nivel_selecionado %>
                    
                    <% if dimensao.nivel_selecionado.nil? %>
                      <option value="" selected>Selecionar Nível</option>
                    <% end %>                    
                    <% while menorContador <= maiorContador do %>
                      <%salvarDescricao = ""%>
                      <%contadorExistencia = 0%>
                      <% @levels.each do |level| %>
                        <% if menorContador.to_i == level.index.to_i && level.modelo_id.to_i == @opcao %>
                          <%salvarDescricao = level.descricao%>
                          <%contadorExistencia = 1%>
                        <%end%>
                      <% end %>
                      
                      <%if nivel_resultado_selecionado.to_i == menorContador && dimensao.nivel_selecionado.present?%>
                        <option value="<%= menorContador%>" selected><%= menorContador %>
                        <% if contadorExistencia == 1%>
                          - <%= salvarDescricao %>
                        <% end %>
                        </option>
                        <% menorContador += 1 %>
                      <% else %>
                        <option value="<%= menorContador %>"><%= menorContador %>
                        <% if contadorExistencia == 1%>
                          - <%= salvarDescricao %>
                        <% end %>
                        </option>
                        <% menorContador += 1 %>
                      <% end %>
                      <%salvarDescricao = ""%>
                      <%contadorExistencia = 0%>
                    <% end %>
                  <% else %>
                    <%if maturidade_selecionada.menorNivel.to_s < maturidade_selecionada.maiorNivel.to_s%>
                      <%menorContador = maturidade_selecionada.menorNivel.to_s%>
                      <%maiorContador = maturidade_selecionada.maiorNivel.to_s%>
                      <%menorContador = menorContador.to_s%>
                      <%maiorContador = maiorContador.to_s%>
                    <%else%>
                      <%maiorContador = maturidade_selecionada.menorNivel.to_s%>
                      <%menorContador = maturidade_selecionada.maiorNivel.to_s%>
                      <%menorContador = menorContador.to_s%>
                      <%maiorContador = maiorContador.to_s%>
                    <%end%>
                    <% nivel_resultado_selecionado = processo.nivel_selecionado.to_s %>
                    <% nivel_resultado_selecionado = nivel_resultado_selecionado.to_s %>

                    <% if dimensao.nivel_selecionado.nil? %>
                      <option value="" selected>Selecionar Nível</option>
                    <% end %>

                    <% while menorContador <= maiorContador do %>
                      <%salvarDescricao = ""%>
                      <%contadorExistencia = 0%>
                      <% @levels.each do |level| %>
                        <% if menorContador.to_s == level.index.to_s && level.modelo_id.to_i == @opcao %>
                          <%salvarDescricao = level.descricao%>
                          <%contadorExistencia = 1%>
                        <%end%>
                      <% end %>
                      <%if nivel_resultado_selecionado == menorContador && dimensao.nivel_selecionado.present?%>
                        <option value="<%= menorContador%>" selected><%= menorContador %>
                        <% if contadorExistencia == 1%>
                          - <%= salvarDescricao %>
                        <% end %>
                        </option>
                        <% menorContador = menorContador.next %>
                      <% else %>
                        <option value="<%= menorContador %>"><%= menorContador %>
                        <% if contadorExistencia == 1%>
                          - <%= salvarDescricao %>
                        <% end %>
                        </option>
                        <% menorContador = menorContador.next %>
                      <% end %>  
                      <%salvarDescricao = ""%>
                      <%contadorExistencia = 0%>
                    <% end %>
                  <% end %>
                </select>
              </form>
            <% end %>

          </div>
          <div class="expandable-header-right">
            <button onclick="biuldProcessoForm(<%= dimensao.id %>)" id="novo-dimencao-<%= dimensao.id %>" class="expandable-header-btn"><%= image_tag("icons/plus.svg", width: 16, height: 16) %></button>
            <button onclick="openDimensaoEditForm(<%= dimensao.id %>)" id="editar-dimencao-<%= dimensao.id %>" class="expandable-header-btn"><%= image_tag("icons/edit.svg", width: 15, height: 15) %></button>
            <button type="button" id="excluir-dimencao-<%= dimensao.id %>" class="expandable-header-btn"><%= image_tag("icons/delete.svg", width: 16, height: 16) %></button>
          </div>
        </div>
        <!--# Fim do Header da Dimensão X -->
        
        <!--# Início do Main expandível da Dimensão X -->
        <div id="main-dimencao-<%= dimensao.id %>" class="expandable-main dimencao hidden">


          <!-- SE ESTIVER PROCURANDO O FORM DE CRIAÇÃO DE PROCESSOS, VEJA O SCRIPT AO FIM DA PÁGINA -->


          <!--# Início do loop de processos da dimensão X -->
          <% contadorProcessos = 1 %>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>

          <!--# Início do Processo Y da Dimensão X -->
          <div id="processo-<%= dimensao.id %>-<%= processo.id %>" class="processo processo-lista">

            <!--# Início do cabeçalho do Processo Y da Dimensão X -->
            <div id="header-processo-<%= dimensao.id %>-<%= processo.id %>" class="expandable-header d-flex-center-between processo w-100">

              <div class="expandable-header-left d-flex-center-start" onclick="show_todos_processos(<%= processo.id %>)"><!-- o 1 do id é o id da dimensão-->
                <% if salvar_resultado_escolha == "2" %>
                <div class="h-100" onclick="expandeMain('processo-<%= dimensao.id %>-<%= processo.id %>')">
                  <i id="plus-processo-<%= dimensao.id %>-<%= processo.id %>" class="fa-solid icon-plus abrir_form_resultado_esperado"></i> 
                  <i id="minus-processo-<%= dimensao.id %>-<%= processo.id %>" class="fa-solid icon-minus hidden"></i>
                </div>
                <%else%>
                  <i id="plus-processo-<%= dimensao.id %>-<%= processo.id %>" class="fa-solid icon-caret-right abrir_form_resultado_esperado"></i>   
                <%end%>                
                
                <h3 id="titulo-nivel-<%= dimensao.id %>-<%= processo.id %>" style="height: auto; white-space: normal; word-wrap: break-word;" onclick="mostra_titulo('<%= dimensao.id %>-<%= processo.id %>')"><strong class="numero-processo"></strong><%= processo.descricao %></h3>

                <%if maturidade_selecionada.nivelEscolha == "1"%>
                  <form id="meu_formulario_resultados" action="/cadastroProcesso/<%= processo.id %>/salvar_processo_nivel" method="post">
                    <select class="nivel_maturidade_select" style="font-size: 13px!important; padding: 2px 6px" name="nivel_selecionado" onchange="submitForm(this)">
                      <%if maturidade_selecionada.tipoNivel == "1"%>
                        <%if maturidade_selecionada.menorNivel.to_i < maturidade_selecionada.maiorNivel.to_i%>
                          <%menorContador = maturidade_selecionada.menorNivel.to_i%>
                          <%maiorContador = maturidade_selecionada.maiorNivel.to_i%>
                          <%menorContador = menorContador.to_i%>
                          <%maiorContador = maiorContador.to_i%>
                        <%else%>
                          <%maiorContador = maturidade_selecionada.menorNivel.to_i%>
                          <%menorContador = maturidade_selecionada.maiorNivel.to_i%>
                          <%menorContador = menorContador.to_i%>
                          <%maiorContador = maiorContador.to_i%>
                        <%end%>
                        <% nivel_resultado_selecionado = processo.nivel_selecionado %>
                        
                        <% if processo.nivel_selecionado.nil? %>
                          <option value="" selected>Selecionar Nível</option>
                        <% end %>
                        <% while menorContador <= maiorContador do %>
                          <%salvarDescricao = ""%>
                          <%contadorExistencia = 0%>
                          <% @levels.each do |level| %>
                            <% if menorContador.to_i == level.index.to_i && level.modelo_id.to_i == @opcao %>
                              <%salvarDescricao = level.descricao%>
                              <%contadorExistencia = 1%>
                            <%end%>
                          <% end %>
                          <%if nivel_resultado_selecionado.to_i == menorContador && processo.nivel_selecionado.present?%>
                            <option value="<%= menorContador%>" selected><%= menorContador %>
                            <% if contadorExistencia == 1%>
                              - <%= salvarDescricao %>
                            <% end %>
                            </option>
                            <% menorContador += 1 %>
                          <% else %>
                            <option value="<%= menorContador %>"><%= menorContador %>
                            <% if contadorExistencia == 1%>
                              - <%= salvarDescricao %>
                            <% end %>
                            </option>
                            <% menorContador += 1 %>
                          <% end %>
                          <%salvarDescricao = ""%>
                          <%contadorExistencia = 0%>
                        <% end %>
                      <% else %>
                        <%if maturidade_selecionada.menorNivel.to_s < maturidade_selecionada.maiorNivel.to_s%>
                          <%menorContador = maturidade_selecionada.menorNivel.to_s%>
                          <%maiorContador = maturidade_selecionada.maiorNivel.to_s%>
                          <%menorContador = menorContador.to_s%>
                          <%maiorContador = maiorContador.to_s%>
                        <%else%>
                          <%maiorContador = maturidade_selecionada.menorNivel.to_s%>
                          <%menorContador = maturidade_selecionada.maiorNivel.to_s%>
                          <%menorContador = menorContador.to_s%>
                          <%maiorContador = maiorContador.to_s%>
                        <%end%>
                        <% nivel_resultado_selecionado = processo.nivel_selecionado.to_s %>
                        <% nivel_resultado_selecionado = nivel_resultado_selecionado.to_s %>

                        <% if processo.nivel_selecionado.nil? %>
                          <option value="" selected>Selecionar Nível</option>
                        <% end %>

                        <% while menorContador <= maiorContador do %>
                          <%salvarDescricao = ""%>
                          <%contadorExistencia = 0%>
                          <% @levels.each do |level| %>
                            <% if menorContador.to_s == level.index.to_s && level.modelo_id.to_i == @opcao %>
                              <%salvarDescricao = level.descricao%>
                              <%contadorExistencia = 1%>
                            <%end%>
                          <% end %>
                          <%if nivel_resultado_selecionado == menorContador && processo.nivel_selecionado.present?%>
                            <option value="<%= menorContador%>" selected><%= menorContador %>
                            <% if contadorExistencia == 1%>
                              - <%= salvarDescricao %>
                            <% end %>
                            </option>
                            <% menorContador = menorContador.next %>
                          <% else %>
                            <option value="<%= menorContador %>"><%= menorContador %>
                            <% if contadorExistencia == 1%>
                              - <%= salvarDescricao %>
                            <% end %>
                            </option>
                            <% menorContador = menorContador.next %>
                          <% end %>  
                          <%salvarDescricao = ""%>
                          <%contadorExistencia = 0%>
                        <% end %>
                      <% end %>
                    </select>
                  </form>
                <% end %>
              </div>
              <div class="processo-header-right">
                <div class="expandable-header-right">
                  <% if salvar_resultado_escolha == "2" %>
                    <button onclick="biuldResultadoForm(<%= dimensao.id %>, <%= processo.id %>)" id="novo-resultado-<%= processo.id %>" class="expandable-header-btn"><%= image_tag("icons/plus.svg", width: 16, height: 16) %></button>
                    <button onclick="biuldResultadoFormEditar(<%= dimensao.id %>, <%= processo.id %>)" id="editar-processo-<%= processo.id %>" class="expandable-header-btn"><%= image_tag("icons/edit.svg", width: 15, height: 15) %></button>
                  <%else%>
                    <button onclick="biuldResultadoFormEditarProcesso(<%= dimensao.id %>, <%= processo.id %>)" id="editar-processo-<%= processo.id %>" class="expandable-header-btn"><%= image_tag("icons/edit.svg", width: 15, height: 15) %></button>
                  <%end%>
                  <button type="button" id="excluir-processo-<%= processo.id %>" class="expandable-header-btn"><%= image_tag("icons/delete.svg", width: 16, height: 16) %></button>
                </div>
              </div>
            </div>  
            <!--# Fim do cabeçalho do Processo Y da Dimensão X -->
            
            <!--# Início do main expansível do Processo Y da Dimensão X -->
            <div id="main-processo-<%= dimensao.id %>-<%= processo.id %>" class="expandable-main processo hidden">


              <!-- SE ESTIVER PROCURANDO O FORM DE CRIAÇÃO DE RESULTADOS ESPERADOS, VEJA O SCRIPT AO FIM DA PÁGINA -->


              <!--# Início do loop de resultados do processo Y da dimensão X-->
              <%if maturidade_selecionada.resultadoEscolha == "2"%>
              <% contadorResultados = 1 %>
              <% @resultados.each do |resultado| %>
              <%if processo.id == resultado.processo_id%>
                

              <!--# Início do resultado Z do processo Y da dimensão X -->
              <div id="resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="resultado resultado-lista">
                <!--# Início do header do resultado Z do processo Y da dimensão X -->
                <div id="header-resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="expandable-header d-flex-center-between resultado w-100">
                  <div class="expandable-header-left d-flex-center-start" onclick="show_todos_processos(1)"><!-- o 1 do id é o id da dimensão-->
                      <i id="plus-resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="fa-solid icon-caret-right"></i>
                    <h3 id="titulo-nivel-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" style="height: auto; white-space: normal; word-wrap: break-word;" onclick="mostra_titulo('<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>')"><strong class="numero-resultado"><%=contadorDimensaos%>.<%=contadorProcessos%>.<%=contadorResultados%> - </strong><%= resultado.descricao %></h3>

                    <%if maturidade_selecionada.nivelEscolha == "2"%>
                    <form id="meu_formulario_resultados" action="/cadastroResultado/<%= resultado.id %>/salvar_resultado_nivel" method="post">
                      <select class="nivel_maturidade_select" style="font-size: 13px!important; padding: 2px 6px" name="nivel_selecionado" onchange="submitForm(this)">
                        <%if maturidade_selecionada.tipoNivel == "1"%>
                          <%if maturidade_selecionada.menorNivel.to_i < maturidade_selecionada.maiorNivel.to_i%>
                            <%menorContador = maturidade_selecionada.menorNivel.to_i%>
                            <%maiorContador = maturidade_selecionada.maiorNivel.to_i%>
                            <%menorContador = menorContador.to_i%>
                            <%maiorContador = maiorContador.to_i%>
                          <%else%>
                            <%maiorContador = maturidade_selecionada.menorNivel.to_i%>
                            <%menorContador = maturidade_selecionada.maiorNivel.to_i%>
                            <%menorContador = menorContador.to_i%>
                            <%maiorContador = maiorContador.to_i%>
                          <%end%>
                          
                          <% nivel_resultado_selecionado = resultado.nivel_selecionado %>
                          <% nivel_resultado_selecionado = nivel_resultado_selecionado.to_i %>
                          
                          <% if resultado.nivel_selecionado.nil? %>
                            <option value="" selected>Selecionar Nível</option>
                          <% end %>

                          <% while menorContador <= maiorContador do %>
                            
                            <%salvarDescricao = ""%>
                            <%contadorExistencia = 0%>
                            <% @levels.each do |level| %>
                              <% if menorContador.to_i == level.index.to_i && level.modelo_id.to_i == @opcao %>
                                <%salvarDescricao = level.descricao%>
                                <%contadorExistencia = 1%>
                              <%end%>
                            <% end %>
                            <%if nivel_resultado_selecionado.to_i == menorContador && resultado.nivel_selecionado.present? %>
                              <option value="<%= menorContador%>" selected><%= menorContador %>
                              <% if contadorExistencia == 1%>
                                - <%= salvarDescricao %>
                              <% end %>
                              </option>
                              <% menorContador += 1 %>
                            <% else %>
                              <option value="<%= menorContador %>"><%= menorContador %>
                              <% if contadorExistencia == 1%>
                                - <%= salvarDescricao %>
                              <% end %>
                              </option>
                              <% menorContador += 1 %>
                            <% end %>
                            <%salvarDescricao = ""%>
                            <%contadorExistencia = 0%>
                          <% end %>
                        <% else %>
                          <%if maturidade_selecionada.menorNivel.to_s < maturidade_selecionada.maiorNivel.to_s%>
                            <%menorContador = maturidade_selecionada.menorNivel.to_s%>
                            <%maiorContador = maturidade_selecionada.maiorNivel.to_s%>
                            <%menorContador = menorContador.to_s%>
                            <%maiorContador = maiorContador.to_s%>
                          <%else%>
                            <%maiorContador = maturidade_selecionada.menorNivel.to_s%>
                            <%menorContador = maturidade_selecionada.maiorNivel.to_s%>
                            <%menorContador = menorContador.to_s%>
                            <%maiorContador = maiorContador.to_s%>
                          <%end%>

                          <% nivel_resultado_selecionado = resultado.nivel_selecionado.to_s %>
                          <% nivel_resultado_selecionado = nivel_resultado_selecionado.to_s %>

                          <% if resultado.nivel_selecionado.nil? %>
                            <option value="" selected>Selecionar Nível</option>
                          <% end %>

                          <% while menorContador <= maiorContador do %>
                            <%salvarDescricao = ""%>
                            <%contadorExistencia = 0%>
                            <% @levels.each do |level| %>
                              <% if menorContador.to_s == level.index.to_s && level.modelo_id.to_i == @opcao %>
                                <%salvarDescricao = level.descricao%>
                                <%contadorExistencia = 1%>
                              <%end%>
                            <% end %>
                            <%if nivel_resultado_selecionado == menorContador && resultado.nivel_selecionado.present?%>
                              <option value="<%= menorContador%>" selected><%= menorContador %>
                              <% if contadorExistencia == 1%>
                                - <%= salvarDescricao %>
                              <% end %>
                              </option>
                              <% menorContador = menorContador.next %>
                            <% else %>
                              <option value="<%= menorContador %>"><%= menorContador %>
                              <% if contadorExistencia == 1%>
                                - <%= salvarDescricao %>
                              <% end %>
                              </option>
                              <% menorContador = menorContador.next %>
                            <% end %>  
                          <% end %>
                          <%salvarDescricao = ""%>
                          <%contadorExistencia = 0%>
                        <% end %>
                      </select>
                    </form>
                    <% end %>

                  </div>
                  <div class="resultado-header-right">
                    <div class="expandable-header-right">
                      <button onclick="biuldEsperadoForm(<%= dimensao.id %>, <%= processo.id %>, <%= resultado.id %>, '<%= resultado.descricao %>')" id="editar-resultado-<%= resultado.id %>" class="expandable-header-btn"><%= image_tag("icons/edit.svg", width: 15, height: 15) %></button>
                      <button type="button" id="excluir-resultado-<%= resultado.id %>" class="expandable-header-btn"><%= image_tag("icons/delete.svg", width: 16, height: 16) %></button>
                    </div>
                  </div>
                </div>
                <!--# Fim do header do resultado Z do processo Y da dimensão X -->
                
                <!--# Início do main expansivel do resultado Z do processo Y da dimensão X -->
                <div id="main-resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="expandable-main resultado">


                </div>
                <!--# Fim do main expansivel do resultado Z do processo Y da dimensão X -->
              </div>
              <!--# Fim do resultado Z do processo Y da dimensão X -->
              <%contadorResultados = contadorResultados + 1%>
              <%end%>
              <%end%>
              <%end%>
              <!--# Fim do Loop de resultados do processo Y da dimensão X -->
            </div>
            <!--# Fim do main expansível do processo Y da dimensão X -->
          </div>
          <!--# Fim do Processo Y da Dimensão X -->
          <%contadorProcessos = contadorProcessos + 1%>
          <%end%>
          <%end%>
          <!--# Fim do Loop de processos da dimensão X -->
        </div>
        <!--# Fim do Main expandível da Dimensão X -->
      </div>
      <!--# Fim da Dimensão X -->
      <%contadorDimensaos = contadorDimensaos + 1%>
      <%end%>
      <%end%>
      <!--# Fim do Loop de dimensões -->
    </section>
  </main>
  <!--# Fim do conteúdo central -->
  
  <!--# Função de expandir e retrair as camadas dos modelos -->
  <script>
    function expandeMain(id_expandir, isCreate) {
      var div_expandir = document.getElementById('main-' + id_expandir);
      var plus_trocar = document.getElementById('plus-' + id_expandir);
      var minus_trocar = document.getElementById('minus-' + id_expandir);

      if (div_expandir.classList.contains('hidden') || isCreate == 1) {
        div_expandir.classList.remove('hidden');
        plus_trocar.classList.add('hidden');
        minus_trocar.classList.remove('hidden');
      } else {
        div_expandir.classList.add('hidden');
        plus_trocar.classList.remove('hidden');
        minus_trocar.classList.add('hidden');
      }
    }

    function expandeMainProcesso(id_expandir, isCreate) {
        var div_expandir = document.getElementById('main-' + id_expandir);

        if (div_expandir.classList.contains('hidden') || isCreate == 1) {
          div_expandir.classList.remove('hidden');
        } else {
          div_expandir.classList.add('hidden');
        }
      }

  </script>


  <script>
    //Função de abrir e fechar o form de criação de nova dimensão
    function openDimensaoForm(id, descricao) {
      const formDimensao = document.getElementById("create_new_dimencao");
  
      if(formDimensao.classList.contains("hidden")) {
        formDimensao.classList.remove("hidden");
      } else {
        formDimensao.classList.add("hidden");
      }
    }
    //Função de abrir e fechar o form de Alteração de dimensão
    function openDimensaoEditForm(id) {
      const formDimensao = document.getElementById("edit_dimencao");
      const formEditDimencao = document.getElementById("form_edit_dimensao");
      const textareaEditDimensao = document.getElementById("nome_editar_dimensao");
      
      const h3 = document.querySelector(`#titulo-nivel-${id}`);
      const description = h3.textContent.replace(h3.querySelector('strong').textContent, '').trim();

      formEditDimencao.setAttribute("action", "cadastro/"+ id +"/salvar_dimensao?opcao=<%= @opcao %>");
      textareaEditDimensao.value = description;

      if(formDimensao.classList.contains("hidden")) {
        formDimensao.classList.remove("hidden");
      } else {
        formDimensao.classList.add("hidden");
      }
    }

    //Função de abrir e fechar o form de criação de novos processos
    function biuldProcessoForm(dimensao) {

      const templateNovoProcesso = `
        <div id="create_new_processo_${dimensao}" class="main-create-level d-flex-center-center dimencao w-100">
          <p>Novo Processo:</p>
          <form method="post" action="/cadastroProcesso/incluir_processo?opcao=<%= @opcao %>" class="d-flex-center-center flex-column">
            <div class="form-control d-flex-center-center">
              <label for="nome-novo">Nome:</label>
              <textarea type="text" id="nome-novo-processo-${dimensao}" name="descricao"></textarea>
              <input type="text" name="dimensao_id" value="${dimensao}" class="inputDimensao hidden">
            </div>
            <div class="main-create-level-buttons">
              <button class="main-create-level-submit">Cadastrar</button>
              <button class="main-create-level-cancel" onclick="biuldProcessoForm(${dimensao})">cancelar</button>
            </div>
          </form>
        </div> 
      `;

      expandeMain('dimencao-'+dimensao, 1);

      if(!document.getElementById("create_new_processo_"+dimensao)) {
        const elementoPai = document.getElementById("main-dimencao-"+dimensao);
        elementoPai.insertAdjacentHTML("afterbegin", templateNovoProcesso);
      } else {
        const elementoDescartado = document.getElementById("create_new_processo_"+dimensao);
        elementoDescartado.remove();
      }
    }
    

    //Função de abrir e fechar o form de criação de novos resultados esperados
    function biuldResultadoForm(dimensao, processo) {
      const templateNovoResultadoEsperado = `
        <div id="create_new_resultado_${dimensao}_${processo}" class="main-create-level d-flex-center-center dimencao w-100">
          <p>Novo Resultado Esperado:</p>
          <form method="post" action="/cadastroResultado/incluir_resultado?opcao=<%= @opcao %>" class="d-flex-center-center flex-column">
            <div class="form-control d-flex-center-center">
              <label for="nome-novo">Nome:</label>
              <textarea type="text" id="nome-novo-resultado-${dimensao}-${processo}" name="descricao"></textarea>
              <input type="text" name="processo_id" value="${processo}" class="inputDimensao hidden">
            </div>
            <div class="main-create-level-buttons">
              <button type="submit" class="main-create-level-submit">Cadastrar</button>
              <a class="main-create-level-cancel" onclick="biuldResultadoForm(${dimensao}, ${processo})">cancelar</a>
            </div>
          </form>
        </div> 
      `;

      expandeMain('processo-' + dimensao + '-' + processo, 1);

      if(!document.getElementById("create_new_resultado_" + dimensao + "_" + processo)) {
        if(document.getElementById("editar_processo_" + dimensao + "_" + processo)) {
          const elementoDescartado = document.getElementById("editar_processo_" + dimensao + "_" + processo);
          elementoDescartado.remove();
        }
        const elementoPai = document.getElementById("main-processo-" + dimensao + "-" + processo);
        elementoPai.insertAdjacentHTML("afterbegin", templateNovoResultadoEsperado);
      } else {
        const elementoDescartado = document.getElementById("create_new_resultado_" + dimensao + "_" + processo);
        elementoDescartado.remove();
      }
    }

    function biuldResultadoFormEditar(dimensao, processo) {
      const h3 = document.querySelector(`#titulo-nivel-${dimensao}-${processo}`);
      const description = h3.textContent.replace(h3.querySelector('strong').textContent, '').trim();

      const templateNovoResultadoEsperado = `
        <div id="editar_processo_${dimensao}_${processo}" class="main-create-level d-flex-center-center dimencao w-100">
          <p>Editar Processo:</p>
          <form method="post" action="/cadastroProcesso/${processo}/salvar_processo?opcao=<%= @opcao %>" class="d-flex-center-center flex-column">
            <div class="form-control d-flex-center-center">
              <label for="nome-novo">Nome:</label>
              <textarea type="text" id="nome-novo-resultado-${dimensao}-${processo}" name="descricao">${description}</textarea>
            </div>
            <div class="main-create-level-buttons">
              <button class="main-create-level-submit">Salvar</button>
              <button class="main-create-level-cancel" onclick="biuldResultadoFormEditar(${dimensao}, ${processo})">cancelar</button>
            </div>
          </form>
        </div> 
      `;

      expandeMain('processo-' + dimensao + '-' + processo, 1);

      if(!document.getElementById("editar_processo_" + dimensao + "_" + processo)) {
        if(document.getElementById("create_new_resultado_" + dimensao + "_" + processo)) {
          const elementoDescartado = document.getElementById("create_new_resultado_" + dimensao + "_" + processo);
          elementoDescartado.remove();
        }
        const elementoPai = document.getElementById("main-processo-" + dimensao + "-" + processo);
        elementoPai.insertAdjacentHTML("afterbegin", templateNovoResultadoEsperado);
      } else {
        const elementoDescartado = document.getElementById("editar_processo_" + dimensao + "_" + processo);
        elementoDescartado.remove();
      }
    }

    function biuldResultadoFormEditarProcesso(dimensao, processo) {
      const h3 = document.querySelector(`#titulo-nivel-${dimensao}-${processo}`);
      const description = h3.textContent.replace(h3.querySelector('strong').textContent, '').trim();

      const templateNovoResultadoEsperado = `
        <div id="editar_processo_${dimensao}_${processo}" class="main-create-level d-flex-center-center dimencao w-100">
          <p>Editar Processo:</p>
          <form method="post" action="/cadastroProcesso/${processo}/salvar_processo?opcao=<%= @opcao %>" class="d-flex-center-center flex-column">
            <div class="form-control d-flex-center-center">
              <label for="nome-novo">Nome:</label>
              <textarea type="text" id="nome-novo-resultado-${dimensao}-${processo}" name="descricao">${description}</textarea>
            </div>
            <div class="main-create-level-buttons">
              <button class="main-create-level-submit">Salvar</button>
              <button class="main-create-level-cancel" onclick="biuldResultadoFormEditarProcesso(${dimensao}, ${processo})">cancelar</button>
            </div>
          </form>
        </div> 
      `;

      expandeMainProcesso('processo-' + dimensao + '-' + processo, 1);

      if(!document.getElementById("editar_processo_" + dimensao + "_" + processo)) {
        if(document.getElementById("create_new_resultado_" + dimensao + "_" + processo)) {
          const elementoDescartado = document.getElementById("create_new_resultado_" + dimensao + "_" + processo);
          elementoDescartado.remove();
        }
        const elementoPai = document.getElementById("main-processo-" + dimensao + "-" + processo);
        elementoPai.insertAdjacentHTML("afterbegin", templateNovoResultadoEsperado);
      } else {
        const elementoDescartado = document.getElementById("editar_processo_" + dimensao + "_" + processo);
        elementoDescartado.remove();
      }
    }

    function biuldEsperadoForm(dimensao, processo, resultado, descricao) {

      const templateNovoResultadoEsperado = `
        <div id="editar_resultado_${dimensao}_${processo}_${resultado}" class="main-create-level d-flex-center-center dimencao w-100">
          <p>Editar Resultado Esperado:</p>
          <form action="/cadastroResultado/${resultado}/salvar_resultado?opcao=<%= @opcao %>" method="post" class="d-flex-center-center flex-column">
            <div class="form-control d-flex-center-center">
              <label for="nome-novo">Nome:</label>
              <textarea type="text" id="nome-editar-resultado-${dimensao}-${processo}-${resultado}" name="descricao">${descricao}</textarea>
            </div>
            <div class="main-create-level-buttons">
              <button class="main-create-level-submit">Salvar</button>
              <button class="main-create-level-cancel" onclick="biuldEsperadoForm(${dimensao}, ${processo}, ${resultado})">cancelar</button>
            </div>
          </form>
        </div> 
      `;

      if(!document.getElementById("editar_resultado_" + dimensao + "_" + processo + "_" + resultado)) {
        const elementoPai = document.getElementById("main-resultado-" + dimensao + "-" + processo + "-" + resultado);
        elementoPai.insertAdjacentHTML("afterbegin", templateNovoResultadoEsperado);
      } else {
        const elementoDescartado = document.getElementById("editar_resultado_" + dimensao + "_" + processo + "_" + resultado);
        elementoDescartado.remove();
      }
    }
  </script>




  <!-- Scripts ja existentes que por algum motivo seguram a página funcionando -->
  <script>
    function show_todos_processos(form_id,dimensao){
      if((form_id == (`dimensao_`+dimensao+`_icon`)) && (document.getElementById(form_id).classList == "icon-plus")){
        document.getElementById(`dimensao_child_`+dimensao).classList.remove('hidden');
        document.getElementById(form_id).classList.remove('icon-plus');
        document.getElementById(form_id).classList.add('icon-minus');
      } else if ((form_id == (`dimensao_`+dimensao+`_icon`)) && (document.getElementById(form_id).classList == "icon-minus")) {
        document.getElementById(`dimensao_child_`+dimensao).classList.add('hidden');
        document.getElementById(form_id).classList.remove('icon-minus');
        document.getElementById(form_id).classList.add('icon-plus');
      }
    }

    function show_todos_resultados(form_id,processo){
      if((form_id == (`processo_`+processo+`_icon`)) && (document.getElementById(form_id).classList == "icon-plus abrir_form_resultado_esperado")){
        document.getElementById(`processo_child_`+processo).classList.remove('hidden');
        document.getElementById(form_id).classList.remove('icon-plus');
        document.getElementById(form_id).classList.remove('abrir_form_resultado_esperado');
        document.getElementById(form_id).classList.add('icon-minus');
        document.getElementById(form_id).classList.add('abrir_form_resultado_esperado');
      } else if ((form_id == (`processo_`+processo+`_icon`)) && (document.getElementById(form_id).classList == "icon-minus abrir_form_resultado_esperado")) {
        document.getElementById(`processo_child_`+processo).classList.add('hidden');
        document.getElementById(form_id).classList.remove('icon-minus');
        document.getElementById(form_id).classList.remove('abrir_form_resultado_esperado');
        document.getElementById(form_id).classList.add('icon-plus');
        document.getElementById(form_id).classList.add('abrir_form_resultado_esperado');
      }
    }

    $(document).ready(function(){
      $(".header-select #maturidade_id").change(function(){
        var opcaoSelecionada = this.value;
        axios.post("/cadastro/atualizar_opcao", { opcao: opcaoSelecionada })
        .then(function(response) {
          // Lógica para sucesso na resposta
          var redirectUrl = response.data.redirect_url;
          window.location.href = redirectUrl;
          console.log(response.data);
        })
        .catch(function(error) {
          // Lógica para erro na resposta
          console.error(error);
        });
      });
      if(document.getElementById("mudancaResultado")) {
        var test = document.getElementById("mudancaResultado");
        
        if (test.classList.value == "1") {
          var elementos = document.querySelectorAll(".abrir_form_resultado_esperado");
          
          for (var i = 0; i < elementos.length; i++) {
            elementos[i].classList.remove('icon-plus');
            elementos[i].classList.add('icon-caret-right');
            elementos[i].nextElementSibling.nextElementSibling.nextElementSibling.remove();
          }
        }
      }
    });

    function submitForm(selectElement) {
      var form = selectElement.closest("form");
      form.submit();
    }
  </script>

  <script>
    // Intercepta o submit do formulário de criação de dimensão
    document.addEventListener('DOMContentLoaded', function() {
      // Numera todas as dimensões ao carregar a página
      const section = document.querySelector('.main-content.main-utlizar-modelo');
      if (section) {
        const dimElements = Array.from(section.querySelectorAll('.dimencao.dimensao-lista')).filter(el => el.offsetParent !== null);
        dimElements.forEach((el, idx) => {
          const strong = el.querySelector('h3 strong.numero-dimensao');
          if (strong) strong.textContent = (idx + 1) + ' - ';
        });
      }
      const form = document.getElementById('form_create_dimensao');
      if (form) {
        form.addEventListener('submit', function(e) {
          e.preventDefault();
          const descricao = document.getElementById('nome_dimensao').value;
          const maturidade_id = document.getElementById('maturidade_dimensao').value;
          axios.post('/cadastro/incluir_dimensao', {
            descricao: descricao,
            maturidade_id: maturidade_id
          }, { headers: { 'Accept': 'application/json' } })
          .then(function(response) {
            if (response.data && response.data.id) {
              // Monta o HTML da nova dimensão
              const html = `
                <div id="dimencao-${response.data.id}" class="dimencao dimensao-lista" data-resultado-escolha="${salvar_resultado_escolha}">
                  <div id="header-dimencao-${response.data.id}" class="expandable-header d-flex-center-between dimencao w-100">
                    <div class="expandable-header-left d-flex-center-start" onclick="show_todos_processos(${response.data.id})">
                      <div class="h-100" onclick="expandeMain('dimencao-${response.data.id}')">
                        <i id="plus-dimencao-${response.data.id}"  class="icon-plus"></i>
                        <i id="minus-dimencao-${response.data.id}"  class="icon-minus hidden"></i>
                      </div>
                      <h3 id="titulo-nivel-${response.data.id}" style="max-height: 25px;" onclick="mostra_titulo('${response.data.id}')"><strong class="numero-dimensao"></strong> ${response.data.descricao}</h3>
                    </div>
                    <div class="expandable-header-right">
                      <button onclick="biuldProcessoForm(${response.data.id})" id="novo-dimencao-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/plus.svg" width="16" height="16"></button>
                      <button onclick="openDimensaoEditForm(${response.data.id})" id="editar-dimencao-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/edit.svg" width="15" height="15"></button>
                      <button type="button" id="excluir-dimencao-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/delete.svg" width="16" height="16"></button>
                    </div>
                  </div>
                  <div id="main-dimencao-${response.data.id}" class="expandable-main dimencao hidden"></div>
                </div>
              `;
              // Insere no final da lista
              section.insertAdjacentHTML('beforeend', html);

              // Recalcula a numeração de todas as dimensões
              const dimElements = Array.from(section.querySelectorAll('.dimencao.dimensao-lista')).filter(el => el.offsetParent !== null);
              dimElements.forEach((el, idx) => {
                const strong = el.querySelector('h3 strong.numero-dimensao');
                if (strong) strong.textContent = (idx + 1) + ' - ';
              });
            }
            form.reset();
            openDimensaoForm();
          })
          .catch(function(error) {
            alert('Erro ao cadastrar dimensão!');
          });
        });
      }
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const formEdit = document.getElementById('form_edit_dimensao');
      if (formEdit) {
        formEdit.addEventListener('submit', function(e) {
          e.preventDefault();
          const descricao = document.getElementById('nome_editar_dimensao').value;
          const action = formEdit.getAttribute('action');
          axios.post(action, {
            descricao: descricao
          }, { headers: { 'Accept': 'application/json' } })
          .then(function(response) {
            if (response.data && response.data.id) {
              // Atualiza o nome na lista
              const h3 = document.querySelector(`#titulo-nivel-${response.data.id}`);
              if (h3) {
                // Mantém o número e só troca o nome
                const strong = h3.querySelector('strong.numero-dimensao');
                h3.innerHTML = `<strong class="numero-dimensao">${strong ? strong.textContent : ''}</strong> ${response.data.descricao}`;
              }
            }
            // Fecha o form de edição
            openDimensaoEditForm(response.data.id.toString());
          })
          .catch(function(error) {
            alert('Erro ao editar dimensão!');
          });
        });
      }
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Delegação de evento para exclusão de dimensão
      document.querySelector('.main-content.main-utlizar-modelo').addEventListener('click', function(e) {
        const btn = e.target.closest('.expandable-header-btn[id^="excluir-dimencao-"]');
        if (btn) {
          e.preventDefault();
          if (!confirm('Tem certeza que deseja excluir esta dimensão?')) return;
          const id = btn.id.replace('excluir-dimencao-', '');
          const opcao = document.getElementById('maturidade_dimensao') ? document.getElementById('maturidade_dimensao').value : '';
          const csrfToken = document.querySelector('meta[name="csrf-token"]')?.getAttribute('content');
          axios.get(`/cadastro/${id}/excluir_dimensao`, {
            params: { opcao: opcao },
            headers: {
              'Accept': 'application/json'
            }
          })
          .then(function(response) {
            if (response.data && response.data.id) {
              // Remove a dimensão do DOM
              const div = document.getElementById('dimencao-' + response.data.id);
              if (div) div.remove();
              // Renumera as dimensões
              const section = document.querySelector('.main-content.main-utlizar-modelo');
              const dimElements = Array.from(section.querySelectorAll('.dimencao.dimensao-lista')).filter(el => el.offsetParent !== null);
              dimElements.forEach((el, idx) => {
                const strong = el.querySelector('h3 strong.numero-dimensao');
                if (strong) strong.textContent = (idx + 1) + ' - ';
              });
            }
          })
          .catch(function(error) {
            alert('Erro ao excluir dimensão!');
          });
        }
      });
    });
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Intercepta submit do form de criação de processo (delegação para forms dinâmicos)
      document.body.addEventListener('submit', function(e) {
        const form = e.target;
        if (form && form.action && form.action.includes('/cadastroProcesso/incluir_processo')) {
          e.preventDefault();
          const descricao = form.querySelector('textarea[name="descricao"]').value;
          const dimensao_id = form.querySelector('input[name="dimensao_id"]').value;
          axios.post('/cadastroProcesso/incluir_processo', {
            descricao: descricao,
            dimensao_id: dimensao_id
          }, {
            headers: { 'Accept': 'application/json' }
          })
          .then(function(response) {
            if (response.data && response.data.id) {
              // Monta o HTML do novo processo
              const mainDim = document.getElementById('main-dimencao-' + response.data.dimensao_id);
              const dimDiv = document.getElementById('dimencao-' + response.data.dimensao_id);
              const resultadoEscolha = dimDiv ? dimDiv.getAttribute('data-resultado-escolha') : null;
              let iconeExpandir = '';
              if (resultadoEscolha === '2') {
                iconeExpandir = `<i id="plus-processo-${response.data.dimensao_id}-${response.data.id}" class="fa-solid icon-plus abrir_form_resultado_esperado"></i>\n<i id="minus-processo-${response.data.dimensao_id}-${response.data.id}" class="fa-solid icon-minus hidden"></i>`;
              } else {
                iconeExpandir = `<i id="plus-processo-${response.data.dimensao_id}-${response.data.id}" class="fa-solid icon-caret-right abrir_form_resultado_esperado"></i>`;
              }
              const html = `
                <div id="processo-${response.data.dimensao_id}-${response.data.id}" class="processo processo-lista">
                  <div id="header-processo-${response.data.dimensao_id}-${response.data.id}" class="expandable-header d-flex-center-between processo w-100">
                    <div class="expandable-header-left d-flex-center-start" onclick="expandeMain('processo-${response.data.dimensao_id}-${response.data.id}')">
                      ${iconeExpandir}
                      <h3 id="titulo-nivel-${response.data.dimensao_id}-${response.data.id}" style="height: auto; white-space: normal; word-wrap: break-word;" onclick="mostra_titulo('${response.data.dimensao_id}-${response.data.id}')"><strong class="numero-processo"></strong> ${response.data.descricao}</h3>
                    </div>
                    <div class="processo-header-right">
                      <div class="expandable-header-right">
                        <button onclick="biuldResultadoForm(${response.data.dimensao_id}, ${response.data.id})" id="novo-resultado-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/plus.svg" width="16" height="16"></button>
                        <button onclick="biuldResultadoFormEditarProcesso(${response.data.dimensao_id}, ${response.data.id})" id="editar-processo-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/edit.svg" width="15" height="15"></button>
                        <button type="button" id="excluir-processo-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/delete.svg" width="16" height="16"></button>
                      </div>
                    </div>
                  </div>
                  <div id="main-processo-${response.data.dimensao_id}-${response.data.id}" class="expandable-main processo hidden"></div>
                </div>
              `;
              if (mainDim) {
                mainDim.insertAdjacentHTML('beforeend', html);
                // Renumera os processos apenas dentro deste main
                const processos = mainDim.querySelectorAll('.processo.processo-lista');
                const dimIdx = Array.from(document.querySelectorAll('.dimencao.dimensao-lista')).indexOf(mainDim.closest('.dimencao.dimensao-lista'));
                processos.forEach((el, idx) => {
                  const strong = el.querySelector('h3 strong.numero-processo');
                  if (strong) strong.textContent = (dimIdx + 1) + '.' + (idx + 1) + ' - ';
                });
              }
              // Remove o form de criação
              if (form.parentElement && form.parentElement.parentElement && form.parentElement.parentElement.id.startsWith('create_new_processo_')) {
                form.parentElement.parentElement.remove();
              }
            }
            // Fecha o modal de criação de processo
            if (typeof biuldProcessoForm === 'function') {
              biuldProcessoForm(response.data.dimensao_id);
            }
          })
          .catch(function(error) {
            alert('Erro ao cadastrar processo!');
          });
        }
      });
    });
  </script>

  <script>
    function renumerarDimensoesEProcessos() {
      const section = document.querySelector('.main-content.main-utlizar-modelo');
      if (!section) return;
      const dimElements = Array.from(section.querySelectorAll('.dimencao.dimensao-lista')).filter(el => el.offsetParent !== null);
      dimElements.forEach((dimEl, dimIdx) => {
        // Renumera dimensão
        const strongDim = dimEl.querySelector('h3 strong.numero-dimensao');
        if (strongDim) strongDim.textContent = (dimIdx + 1) + ' - ';
        // Renumera processos dessa dimensão
        const mainDim = dimEl.querySelector('[id^="main-dimencao-"]');
        if (mainDim) {
          const processos = mainDim.querySelectorAll('.processo.processo-lista');
          processos.forEach((procEl, procIdx) => {
            const strongProc = procEl.querySelector('h3 strong.numero-processo');
            if (strongProc) strongProc.textContent = (dimIdx + 1) + '.' + (procIdx + 1) + ' - ';
          });
        }
      });
    }
    document.addEventListener('DOMContentLoaded', function() {
      renumerarDimensoesEProcessos();
    });
  </script>

  <script>
    // Intercepta submit do form de edição de processo (delegação para forms dinâmicos)
    document.body.addEventListener('submit', function(e) {
      const form = e.target;
      if (form && form.action && form.action.includes('/cadastroProcesso/') && form.action.includes('/salvar_processo')) {
        e.preventDefault();
        const descricao = form.querySelector('textarea[name="descricao"]').value;
        axios.post(form.action, {
          descricao: descricao
        }, {
          headers: { 'Accept': 'application/json' }
        })
        .then(function(response) {
          if (response.data && response.data.id) {
            // Atualiza o nome do processo na lista
            const h3 = document.querySelector(`#titulo-nivel-${response.data.dimensao_id}-${response.data.id}`);
            if (h3) {
              const strong = h3.querySelector('strong.numero-processo');
              h3.innerHTML = `<strong class="numero-processo">${strong ? strong.textContent : ''}</strong> ${response.data.descricao}`;
            }
            // Fecha o modal de edição de processo
            if (typeof biuldResultadoFormEditarProcesso === 'function') {
                biuldResultadoFormEditarProcesso(response.data.dimensao_id, response.data.id);
            }
          }
        })
        .catch(function(error) {
          alert('Erro ao editar processo!');
        });
      }
    });
  </script>

  <script>
    // Delegação de evento para exclusão de processo
    document.querySelector('.main-content.main-utlizar-modelo').addEventListener('click', function(e) {
      const btn = e.target.closest('.expandable-header-btn[id^="excluir-processo-"]');
      if (btn) {
        e.preventDefault();
        if (!confirm('Tem certeza que deseja excluir este processo?')) return;
        const id = btn.id.replace('excluir-processo-', '');
        // Descobre a dimensão do processo pelo DOM
        const processoDiv = document.getElementById('processo-' + btn.closest('.processo').id.split('-').slice(-2).join('-'));
        const mainDim = btn.closest('[id^="main-dimencao-"]');
        const opcao = document.getElementById('maturidade_dimensao') ? document.getElementById('maturidade_dimensao').value : '';
        axios.get(`/cadastroProcesso/${id}/excluir_processo`, {
          params: { opcao: opcao },
          headers: { 'Accept': 'application/json' }
        })
        .then(function(response) {
          if (response.data && response.data.id) {
            // Remove o processo do DOM
            const div = document.getElementById('processo-' + response.data.dimensao_id + '-' + response.data.id);
            if (div) div.remove();
            // Renumera os processos dentro da dimensão
            if (mainDim) {
              const processos = mainDim.querySelectorAll('.processo.processo-lista');
              const dimIdx = Array.from(document.querySelectorAll('.dimencao.dimensao-lista')).indexOf(mainDim.closest('.dimencao.dimensao-lista'));
              processos.forEach((el, idx) => {
                const strong = el.querySelector('h3 strong.numero-processo');
                if (strong) strong.textContent = (dimIdx + 1) + '.' + (idx + 1) + ' - ';
              });
            }
          }
        })
        .catch(function(error) {
          alert('Erro ao excluir processo!');
        });
      }
    });
  </script>

  <script>
    // Intercepta submit do form de criação de resultado esperado (delegação para forms dinâmicos)
    document.body.addEventListener('submit', function(e) {
      const form = e.target;
      if (form && form.action && form.action.includes('/cadastroResultado/incluir_resultado')) {
        e.preventDefault();
        const descricao = form.querySelector('textarea[name="descricao"]').value;
        const processo_id = form.querySelector('input[name="processo_id"]').value;
        
        console.log('Enviando dados:', {
          descricao: descricao,
          processo_id: processo_id
        });
        
        axios.post('/cadastroResultado/incluir_resultado', {
          descricao: descricao,
          processo_id: processo_id,
          opcao: document.getElementById('maturidade_dimensao').value
        }, {
          headers: { 
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          }
        })
        .then(function(response) {
          console.log('Resposta:', response);
          if (response.data && response.data.id) {
            // Monta o HTML do novo resultado
            const mainProcId = 'main-processo-' + response.data.dimensao_id + '-' + response.data.processo_id;
            console.log('Buscando elemento pai para inserir resultado:', mainProcId);
            const mainProc = document.getElementById(mainProcId);

            // Pega o número da dimensão e processo dos elementos pais
            const processoDiv = document.getElementById('processo-' + response.data.dimensao_id + '-' + response.data.processo_id);
            const dimensaoDiv = processoDiv ? processoDiv.closest('.dimencao.dimensao-lista') : null;
            let dimNumero = '0', procNumero = '0';

            if (dimensaoDiv && processoDiv) {
              const dimHeaderStrong = dimensaoDiv.querySelector(':scope > .expandable-header h3 strong.numero-dimensao');
              const procHeaderStrong = processoDiv.querySelector(':scope > .expandable-header h3 strong.numero-processo');

              if (dimHeaderStrong && dimHeaderStrong.textContent.trim()) {
                dimNumero = dimHeaderStrong.textContent.trim().split(' ')[0];
              }

              if (procHeaderStrong && procHeaderStrong.textContent.trim()) {
                const procParts = procHeaderStrong.textContent.trim().split(' ')[0].split('.');
                if (procParts.length > 1) {
                  procNumero = procParts[1];
                }
              }
            }

            // Encontra o último contador de resultados usado
            let contadorResultados = 1;
            const resultadosExistentes = mainProc ? mainProc.querySelectorAll('.resultado.resultado-lista') : [];
            if (resultadosExistentes.length > 0) {
              const ultimoResultado = resultadosExistentes[resultadosExistentes.length - 1];
              const ultimoNumeroStrong = ultimoResultado.querySelector('h3 strong.numero-resultado');
              if (ultimoNumeroStrong && ultimoNumeroStrong.textContent) {
                const partes = ultimoNumeroStrong.textContent.trim().split(' ')[0].split('.');
                if (partes.length === 3) {
                  contadorResultados = parseInt(partes[2]) + 1;
                }
              }
            }

            // Gera o HTML do select de níveis se necessário
            let nivelSelectHtml = '';
            if (response.data.nivel_selecionado) {
              nivelSelectHtml = `
                <form id="meu_formulario_resultados" action="/cadastroResultado/${response.data.id}/salvar_resultado_nivel" method="post">
                  <select class="nivel_maturidade_select" style="font-size: 13px!important; padding: 2px 6px" name="nivel_selecionado" onchange="submitForm(this)">
                    <option value="" selected>Selecionar Nível</option>
                  </select>
                </form>
              `;
            }

            const html = `
              <div id="resultado-${response.data.dimensao_id}-${response.data.processo_id}-${response.data.id}" class="resultado resultado-lista">
                <div id="header-resultado-${response.data.dimensao_id}-${response.data.processo_id}-${response.data.id}" class="expandable-header d-flex-center-between resultado w-100">
                  <div class="expandable-header-left d-flex-center-start">
                    <i id="plus-resultado-${response.data.dimensao_id}-${response.data.processo_id}-${response.data.id}" class="fa-solid icon-caret-right"></i>
                    <h3 id="titulo-nivel-${response.data.dimensao_id}-${response.data.processo_id}-${response.data.id}" style="height: auto; white-space: normal; word-wrap: break-word;"><strong class="numero-resultado">${dimNumero}.${procNumero}.${contadorResultados} - </strong> ${response.data.descricao}</h3>
                    ${nivelSelectHtml}
                  </div>
                  <div class="resultado-header-right">
                    <div class="expandable-header-right">
                      <button onclick="biuldEsperadoForm(${response.data.dimensao_id}, ${response.data.processo_id}, ${response.data.id}, '${response.data.descricao}')" id="editar-resultado-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/edit.svg" width="15" height="15"></button>
                      <button type="button" id="excluir-resultado-${response.data.id}" class="expandable-header-btn"><img src="/assets/icons/delete.svg" width="16" height="16"></button>
                    </div>
                  </div>
                </div>
                <div id="main-resultado-${response.data.dimensao_id}-${response.data.processo_id}-${response.data.id}" class="expandable-main resultado"></div>
              </div>
            `;
            if (mainProc) {
              mainProc.insertAdjacentHTML('beforeend', html);
              console.log('Resultado inserido com sucesso!');
            } else {
              alert('Erro: Não foi possível encontrar o elemento pai para inserir o resultado! Veja o console para detalhes.');
              console.error('Elemento main-processo não encontrado:', mainProcId);
            }
            // Fecha o modal de criação de resultado esperado
            if (typeof biuldResultadoForm === 'function') {
              biuldResultadoForm(response.data.dimensao_id, response.data.processo_id);
            }
            // Limpa o formulário
            form.reset();
          }
        })
        .catch(function(error) {
          console.error('Erro completo:', error);
          if (error.response) {
            console.error('Dados do erro:', error.response.data);
            alert('Erro ao cadastrar resultado: ' + (error.response.data.message || 'Erro desconhecido'));
          } else {
            alert('Erro ao cadastrar resultado! Verifique o console para mais detalhes.');
          }
        });
      }
    });

    // Intercepta submit do form de edição de resultado esperado (delegação para forms dinâmicos)
    document.body.addEventListener('submit', function(e) {
      const form = e.target;
      if (form && form.action && form.action.includes('/cadastroResultado/') && form.action.includes('/salvar_resultado')) {
        e.preventDefault();

        const parentDiv = form.closest('[id^="editar_resultado_"]');
        const ids = parentDiv.id.split('_');
        const dimensao_id_from_dom = ids[2];
        const processo_id_from_dom = ids[3];
        const descricao = form.querySelector('textarea[name="descricao"]').value;

        axios.post(form.action, {
          descricao: descricao
        }, {
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
            'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
          }
        })
        .then(function(response) {
          if (response.data && response.data.id) {
            const h3 = document.querySelector(`#titulo-nivel-${dimensao_id_from_dom}-${processo_id_from_dom}-${response.data.id}`);
            if (h3) {
              const strong = h3.querySelector('strong.numero-resultado');
              h3.innerHTML = `<strong class="numero-resultado">${strong ? strong.textContent : ''}</strong> ${response.data.descricao}`;
            }

            if (typeof biuldEsperadoForm === 'function') {
                biuldEsperadoForm(dimensao_id_from_dom, processo_id_from_dom, response.data.id, response.data.descricao);
            }
          }
        })
        .catch(function(error) {
          alert('Erro ao editar resultado esperado!');
          console.error(error);
        });
      }
    });

    // Delegação de evento para exclusão de resultado
    document.querySelector('.main-content.main-utlizar-modelo').addEventListener('click', function(e) {
        const btn = e.target.closest('.expandable-header-btn[id^="excluir-resultado-"]');
        if (btn) {
          e.preventDefault();
          if (!confirm('Tem certeza que deseja excluir este resultado?')) return;
          
          const id = btn.id.replace('excluir-resultado-', '');
          const mainProc = btn.closest('.expandable-main.processo');

          axios.get(`/cadastroResultado/${id}/excluir_resultado`, {
            headers: {
              'Accept': 'application/json',
              'X-CSRF-Token': document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            }
          })
          .then(function(response) {
            if (response.data && response.data.id) {
              const div = document.getElementById(`resultado-${response.data.dimensao_id}-${response.data.processo_id}-${response.data.id}`);
              if (div) div.remove();
              
              if(mainProc) {
                renumerarResultados(mainProc);
              }
            }
          })
          .catch(function(error) {
            alert('Erro ao excluir resultado!');
            console.error(error);
          });
        }
    });

    function renumerarResultados(mainProc) {
      const resultados = mainProc.querySelectorAll('.resultado.resultado-lista');
      const processoDiv = mainProc.parentElement;
      
      if (processoDiv) {
        const procHeaderStrong = processoDiv.querySelector('h3 strong.numero-processo');
        let dimNumero = '0', procNumero = '0';
        
        if (procHeaderStrong && procHeaderStrong.textContent.trim()) {
          const match = procHeaderStrong.textContent.match(/(\d+)\.(\d+)/);
          if (match) {
            dimNumero = match[1];
            procNumero = match[2];
          }
        }

        let contadorResultados = 1;
        resultados.forEach((el) => {
          const strong = el.querySelector('h3 strong.numero-resultado');
          if (strong) {
            strong.textContent = `${dimNumero}.${procNumero}.${contadorResultados} - `;
            contadorResultados++;
          }
        });
      }
    }
  </script>