<main style="width: 800px; height:550px;background:transparent;" class="d-flex-center-center">

  <div class="userSign-wrapper-left h-100" style="width: 400px;z-index: 2;">
    <div class="userSign w-100 h-100 d-flex-center-between flex-column">
      <div class="userSign-title w-100 d-flex-center-center">
        <h2>Login</h2>
      </div> 
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field input_dados_text dados_1">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "E-mail" %>
        </div>
        <div class="field input_dados_text dados_2">
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha" %>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "Salvar dados de login" %>
          </div>
        <% end %>
        <div class="actions">
          <%= f.submit "Entrar" %>
        </div>
      <% end %>
      <div class="d-flex-center-center flex-column">
        <div style="margin-bottom:5px;">
          <span>Ainda não tem uma conta?</span>
          <%= link_to "Registrar-se", new_registration_path(resource_name) %><br />
        </div>
        <div>
          <span>Esqueceu sua senha?</span>
          <%= link_to "Recuperar senha", new_password_path(resource_name) %>
        </div>
      </div>
    </div>
  </div>

  <div class="userSign-wrapper-right d-flex-center-center flex-column h-100" style="width: 400px;">
    <h4>Bem vindo!</h4>
    <div class="userSign-right-changesign d-flex-center-center flex-column w-100">
      <span>Você está atualmente no login de <strong id="SignType_target">usuário<i class="bi bi-info-circle"></i></strong>.</span>
      <span>Gostaria de criar seu próprio modelo?</span>
      <a class="redirect-sign-upin"  onclick="location.href='/admins/sign_in'">Entre como conta administrativa</a>
    </div>
  </div>
