          <div class="header-select">
              <%= select_tag "maturidade_id", options_from_collection_for_select(@maturidades, "id", "nome", @opcao), prompt: "Escolha um modelo", class: "modelo corpo_texto_select" %>
          </div>
        </div>
        <button onclick="showModalInfos()" class="header-title-info d-flex-center-center h-100">
          <%= image_tag('icons/info.svg', width: '25px', height: '25px') %>
        </button>
      </div>
      <!--
      <div class="header-links d-flex-center-start h-100 w-fit">
        <div class="header-links-wrapper d-flex-center-center">
          <div onclick="mostraOpcoesPrimariasModelo()" class="header-link d-flex-center-start h-fit">
            <%= image_tag('icons/edit2.svg', width: '20px', height: '20px') %>
            <a href="#">Editar opções do Modelo</a>
          </div>
        </div>
      </div> 
      -->
      <div style="display: none">
        <%if @opcao != 0%>
            <% maturidade_selecionada = Maturidade.find(@opcao)%>
            <div id="mudancaResultado" class="<%=maturidade_selecionada.resultadoEscolha%>"> </div>
            <div id="maturidadeSelecionadaNivelEscolha" class="<%= maturidade_selecionada.nivelEscolha%>"></div>
        <%end%>
      </div>
    </header>

    <section class="main-content main-utlizar-modelo">
      <!--S== Dimensão -->
      <% contadorDimensaos = 1 %>
      <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <div id="dimencao-<%= dimensao.id %>" class="dimencao">
            <!--A== Header-Dimensão -->
            <div id="header-dimencao-<%= dimensao.id %>" class="expandable-header d-flex-center-between dimencao w-100">
              <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(<%= dimensao.id %>)"><!-- o 1 do id é o id da dimensão-->
                <div onclick="expandeMain('dimencao-<%= dimensao.id %>')">
                  <i id="plus-dimencao-<%= dimensao.id %>" class="fa-solid fa-plus"></i>
                  <i id="minus-dimencao-<%= dimensao.id %>" class="fa-solid fa-minus hidden"></i>
                </div>
                <h3 id="titulo-nivel-<%= dimensao.id %>" style="max-height: 25px;" onclick="mostra_titulo('<%= dimensao.id %>')"> <strong><%= contadorDimensaos %>- </strong><%= dimensao.descricao %></h3>
              </div>
            </div>
          
            <!--A== Main-Dimensão-1 -->
            <div id="main-dimencao-<%= dimensao.id %>" class="expandable-main dimencao hidden">    
              <% contadorProcessos = 1 %>
              <% @processos.each do |processo| %>
                <%if dimensao.id == processo.dimensao_id%>    
                  <!--S== Processo-1-1 -->
                  <div id="processo-<%= dimensao.id %>-<%= processo.id %>" class="processo">
                    <!--A== Header-Processo-1-1 -->
                    <div id="header-processo-<%= dimensao.id %>-<%= processo.id %>" class="expandable-header d-flex-center-between processo w-100">
                      <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(<%= processo.id %>)"><!-- o 1 do id é o id da dimensão-->
                        <div onclick="expandeMain('processo-<%= dimensao.id %>-<%= processo.id %>')">
                          <i id="plus-processo-<%= dimensao.id %>-<%= processo.id %>" class="fa-solid fa-plus abrir_form_resultado_esperado"></i>
                          <i id="minus-processo-<%= dimensao.id %>-<%= processo.id %>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-nivel-<%= dimensao.id %>-<%= processo.id %>" style="max-height: 25px;" onclick="mostra_titulo('<%= dimensao.id %>-<%= processo.id %>')"><strong><%= contadorDimensaos %>.<%= contadorProcessos %> - </strong><%= processo.descricao %></h3>
                        <% if processo.nivel_selecionado %>
                          <%if maturidade_selecionada.tipoNivel == "1"%>
                            <%salvarDescricao = ""%>
                            <%contadorExistencia = 0%>
                            <% @levels.each do |level| %>
                              <% if processo.nivel_selecionado.to_i == level.index.to_i && level.modelo_id.to_i == @opcao %>
                                <%salvarDescricao = level.descricao%>
                                <%contadorExistencia = 1%>
                              <%end%>
                            <% end %>
                          <%else%>
                            <%salvarDescricao = ""%>
                            <%contadorExistencia = 0%>
                            <% @levels.each do |level| %>
                              <% if processo.nivel_selecionado.to_s == level.index.to_s && level.modelo_id.to_i == @opcao %>
                                <%salvarDescricao = level.descricao%>
                                <%contadorExistencia = 1%>
                              <%end%>
                            <% end %>
                          <%end%>
                        <div class="select-nivel-maturidade processoNivelSelecionado" name="nome" id="" disabled>
                          <p><%= processo.nivel_selecionado %>
                          <% if contadorExistencia == 1%>
                            - <%= salvarDescricao %>
                          <% end %>
                          </p>
                        </div>
                          <%salvarDescricao = ""%>
                          <%contadorExistencia = 0%>
                      <% end %>
                      </div>
                    </div>  
            
                    <!--A== Main-Processo-1-1 -->
                    <div id="main-processo-<%= dimensao.id %>-<%= processo.id %>" class="expandable-main processo hidden">

                      <%if @opcao != 0%>
                        <%if maturidade_selecionada.nivelEscolha == "1"%> <!--x ESTAMOS AQUI -->

                          <div class="file-galery-wrapper dimencao">
                            <ul class="file-galery m-0"  style="border: 0px;">
                            <% if processo.docs.attached? %>
                              <% processo.docs.each do |doc| %>
                              <!-- Arquivo-1-Dimensão-1 -->
                              <li id="doc-<%= dimensao.id %>-<%= processo.id %>--<%= doc.id %>" class="file-galery-item d-flex-center-between m-0" style="border: 0px 0px 1px 0px; padding: 10px;">
                                <div class="d-flex-center-start">  
                                  <h5 class="descricao-artefato">Artefato01</h5>
                                  <span class="descricao-artefato">-</span>
                                  <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %>
                                </div>
                                <form action="/cadastroResultado/<%= doc.id %>/salvar_classificacao_docs" method="post">
                                    <select name="classificacao" onchange="this.form.submit()">
                                        <option value="" disabled selected>Selecione uma opção</option>
                                        <option value="1" <%= doc.classificacao == 1 ? 'selected' : '' %>>Atende Totalmente</option>
                                        <option value="2" <%= doc.classificacao == 2 ? 'selected' : '' %>>Atende Parcialmente</option>
                                        <option value="3" <%= doc.classificacao == 3 ? 'selected' : '' %>>Não Atende</option>
                                    </select>
                                </form>
                              </li>
                              <% end %> 
                            <% end %>
                            </ul>
                          </div>
                        <% end %>
                      <% end %>

                      <%if maturidade_selecionada.resultadoEscolha == "2"%>
                        <% contadorResultados = 1 %>
                        <% @resultados.each do |resultado| %>
                          <%if processo.id == resultado.processo_id%>        
                            <!--S== Resultado -->
                            <div id="resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="resultado">
                              <!--A== Header-Resultado -->
                              <div id="header-resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="expandable-header d-flex-center-between resultado w-100">
                                <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)"><!-- o 1 do id é o id da dimensão-->
                                  <div onclick="expandeMain('resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>')">
                                    <i id="plus-resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="fa-solid fa-plus"></i>
                                    <i id="minus-resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="fa-solid fa-minus hidden"></i>
                                  </div>
                                  <h3 id="titulo-nivel-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" style="max-height: 25px;" onclick="mostra_titulo('<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>')"><strong><%= contadorDimensaos %>.<%= contadorProcessos %>.<%= contadorResultados %> - </strong><%= resultado.descricao %></h3>
                                  <%if maturidade_selecionada.tipoNivel == "1"%>
                                    <%salvarDescricao = ""%>
                                    <%contadorExistencia = 0%>
                                    <% @levels.each do |level| %>
                                      <% if resultado.nivel_selecionado.to_i == level.index.to_i && level.modelo_id.to_i == @opcao %>
                                        <%salvarDescricao = level.descricao%>
                                        <%contadorExistencia = 1%>
                                      <%end%>
                                    <% end %>
                                  <%else%>
                                    <%salvarDescricao = ""%>
                                    <%contadorExistencia = 0%>
                                    <% @levels.each do |level| %>
                                      <% if resultado.nivel_selecionado.to_s == level.index.to_s && level.modelo_id.to_i == @opcao %>
                                        <%salvarDescricao = level.descricao%>
                                        <%contadorExistencia = 1%>
                                      <%end%>
                                    <% end %>
                                  <%end%>
                                  <div class="select-nivel-maturidade resultadoNivelSelecionado" name="nome" id="" disabled>
                                    <p><%= resultado.nivel_selecionado %>
                                    <% if contadorExistencia == 1%> 
                                      - <%= salvarDescricao %>
                                    <% end %>
                                    </p>
                                  </div>
                                  <%salvarDescricao = ""%>
                                  <%contadorExistencia = 0%>
                                </div>
                              </div>
                              <!--A== Main-Resultado -->
                              <div id="main-resultado-<%= dimensao.id %>-<%= processo.id %>-<%= resultado.id %>" class="expandable-main resultado hidden">
                                <%if maturidade_selecionada.nivelEscolha == "2"%>
                                  <div class="file-galery-wrapper dimencao">
                                    <ul class="file-galery m-0" style="border: 0px;">
                                      <% if resultado.docs.attached? %>
                                        <% resultado.docs.each do |doc| %>
                                          <!-- Arquivo-1-Dimensão-1 -->
                                          <li id="doc-<%= dimensao.id %>-<%= resultado.id %>--<%= doc.id %>" class="file-galery-item d-flex-center-between m-0" style="border: 0px 0px 1px 0px; padding: 10px;">
                                            <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %>
                                            <form action="/cadastroResultado/<%= doc.id %>/salvar_classificacao_docs" method="post">
                                                <select name="classificacao" onchange="this.form.submit()">
                                                    <option value="" disabled selected>Selecione uma opção</option>
                                                    <option value="1" <%= doc.classificacao == 1 ? 'selected' : '' %>>Atende Totalmente</option>
                                                    <option value="2" <%= doc.classificacao == 2 ? 'selected' : '' %>>Atende Parcialmente</option>
                                                    <option value="3" <%= doc.classificacao == 3 ? 'selected' : '' %>>Não Atende</option>
                                                </select>
                                            </form>
                                          </li>
                                        <% end %> 
                                      <% end %>
                                    </ul>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                            <!--!S== Resultado -->
                            <%contadorResultados = contadorResultados + 1%>
                          <%end%>
                        <%end%>
                      <%end%>
                    </div>
                  </div>
                  <%contadorProcessos = contadorProcessos + 1%>
                <% end %>  <!-- /I -->
              <% end %>  <!-- /J -->
            </div> 
          </div>
          <%contadorDimensaos = contadorDimensaos + 1%>
        <% end %> <!-- /L -->
      <% end %> <!-- /M -->
    </section>






  
  
  </main>

  <section onclick="closeAll_popup(event)" class="popup-background d-flex-center-center hidden" id="popup_background">

    <!-- Cadastrar Novo Dominio para select -->
    <div id="cadastrar_dominio" class="popup-cadastrar-dominio hidden">
      <div class="popup-title">
        <h2>Cadastro de domínio:</h2>
      </div>
      <div class="w-100 popup-body">
        <form action="/cadastroDominio/incluir_dominio" method="post" class="w-100">
          <div class="form-control w-100">
            <label for="nome_dominio">Nome do novo domínio:</label>
            <input name="nome" class="w-100" id="nome_dominio" type="text">
          </div>
          <div class="form-btn w-100 d-flex-center-end">
            <a onclick="show_popup('cadastrar_dominio', '')">cancelar</a>
            <button type="submit" id="btn_confirm_cadastrar_modelo" class="popup-btn-confirm">Salvar</button>
          </div>
        </form>
      </div>
    </div>

    <!-- Confirmação de exclusão de arquivos -->
    <div id="confirmar_exclusao" class="confirmation-main d-flex-start-evenly flex-column hidden">
      <h1>Confirmar exclusão de arquivo?</h1>
      <p>Tem certeza que deseja excluir o arquivo <strong>arquivo01.txt</strong>? Essa alteração não poderá ser desfeita.</p>
      <p>Digite "confirmo" para executar essa ação</p>
      <input onkeyup="liberaBotaoExclusao()" type="text" id="input_confirmation_exclusao" placeholder="confirmo">
      <div class="confirmation-main-btns d-flex-center-end w-100">
        <button onclick="showModalConfirmacao()" class="confirmation-main-btns-cancelar" value="">Cancelar</button>
        <button id="btn_confirma_exclusao" class="confirmation-main-btns-confirmar" disabled>Excluir</button>
      </div>
    </div>
  </section>

  




  <script>
    //contante de todos os ids de todos os popups da pagina;
    const listaPopups = ["cadastrar_dominio", "confirmar_exclusao"];

    //Função para mostrar um popup qualquer
    function show_popup(id_popup, rota) {
      const popup = document.getElementById(id_popup);

      if(popup) {
        const popupBg = document.getElementById("popup_background");

        if(popup.classList.contains("hidden")) {
          popup.classList.remove("hidden");
          popupBg.classList.remove("hidden");
        } else {
          popup.classList.add("hidden");
          popupBg.classList.add("hidden");
        }

        if(popup == "confirmar_exclusao") {
          document.getElementById('btn_confirma_exclusao').setAttribute('onclick', `location.href='`+rota+`'`);
        }
      }
    }

    //Função para fechar todos os popups abertos
    function closeAll_popup(event) {
      const popupBg = document.getElementById("popup_background");

      if(event.target === popupBg) {
        popupBg.classList.add("hidden");
        console.log(popupBg.classList);
        listaPopups.forEach(function(popupId) {
          let popup = document.getElementById(popupId);
          if(!popup.classList.contains("hidden")) {
            popup.classList.add("hidden");
          }
        });
      }
    }
  </script>

  <script>
    //* Retira o disabled do botao de exclusão do modal de confirmação de exclusão
    function liberaBotaoExclusao() {
      let inputConfirmaExclusao = document.getElementById('input_confirmation_exclusao');
      let btnConfirmaExclusao = document.getElementById('btn_confirma_exclusao');

      if(inputConfirmaExclusao.value == 'confirmo')
        btnConfirmaExclusao.disabled = false;
      else
        btnConfirmaExclusao.disabled = true;
    }
    //* Fim ---
  </script>


    <!--# Função de expandir e retrair as camadas dos modelos -->
  <script>
    function expandeMain(id_expandir) {
      var div_expandir = document.getElementById('main-' + id_expandir);
      var plus_trocar = document.getElementById('plus-' + id_expandir);
      var minus_trocar = document.getElementById('minus-' + id_expandir);

      if (div_expandir.classList.contains('hidden')) {
        div_expandir.classList.remove('hidden');
        plus_trocar.classList.add('hidden');
        minus_trocar.classList.remove('hidden');

      } else {
        div_expandir.classList.add('hidden');
        plus_trocar.classList.remove('hidden');
        minus_trocar.classList.add('hidden');
      }
    }

    //* Mostrar Modal de confirmação de exclusão:
    function showModalConfirmacao() {
      let modalConfirmacao = document.getElementById('modal_confirmacao');
      let inputConfirmaExclusao = document.getElementById('input_confirmation_exclusao');
      let btnConfirmaExclusao = document.getElementById('btn_confirma_exclusao');

      if(modalConfirmacao.classList.contains('hidden')) {
        modalConfirmacao.classList.remove('hidden');
        inputConfirmaExclusao.value = '';
        btnConfirmaExclusao.disabled = true;
      }
      else
        modalConfirmacao.classList.add('hidden');
    }
    //* Fim ---

    //* Retira o disabled do botao de exclusão do modal de confirmação de exclusão
    function liberaBotaoExclusao() {
      let inputConfirmaExclusao = document.getElementById('input_confirmation_exclusao');
      let btnConfirmaExclusao = document.getElementById('btn_confirma_exclusao');

      if(inputConfirmaExclusao.value == 'confirmo')
        btnConfirmaExclusao.disabled = false;
      else
        btnConfirmaExclusao.disabled = true;
    }
    //* Fim ---
  </script>
  

  <script>
    
 //Expande e contrai main dimensão
    function show_todos_processos(form_id,dimensao){
        if((form_id == (`dimensao_`+dimensao+`_icon`)) && (document.getElementById(form_id).classList == "icon-plus")){
        document.getElementById(`dimensao_child_`+dimensao).classList.remove('hidden');
        document.getElementById(form_id).classList.remove('icon-plus');
        document.getElementById(form_id).classList.add('icon-minus');
        } else if ((form_id == (`dimensao_`+dimensao+`_icon`)) && (document.getElementById(form_id).classList == "icon-minus")) {
        document.getElementById(`dimensao_child_`+dimensao).classList.add('hidden');
        document.getElementById(form_id).classList.remove('icon-minus');
        document.getElementById(form_id).classList.add('icon-plus');
        }
    }

    //Expande e contrai main processos
    function show_todos_resultados(form_id,processo){
        if((form_id == (`processo_`+processo+`_icon`)) && (document.getElementById(form_id).classList == "icon-plus abrir_form_resultado_esperado")){
        document.getElementById(`processo_child_`+processo).classList.remove('hidden');
        document.getElementById(form_id).classList.remove('icon-plus');
        document.getElementById(form_id).classList.remove('abrir_form_resultado_esperado');
        document.getElementById(form_id).classList.add('icon-minus');
        document.getElementById(form_id).classList.add('abrir_form_resultado_esperado');
        } else if ((form_id == (`processo_`+processo+`_icon`)) && (document.getElementById(form_id).classList == "icon-minus abrir_form_resultado_esperado")) {
        document.getElementById(`processo_child_`+processo).classList.add('hidden');
        document.getElementById(form_id).classList.remove('icon-minus');
        document.getElementById(form_id).classList.remove('abrir_form_resultado_esperado');
        document.getElementById(form_id).classList.add('icon-plus');
        document.getElementById(form_id).classList.add('abrir_form_resultado_esperado');
        }
    }     

    $(document).ready(function(){

      $(".header-select #maturidade_id").change(function(){
      var opcaoSelecionada = this.value;
      
      axios.post("/avaliar/atualizar_opcao", { opcao: opcaoSelecionada })
      .then(function(response) {
          // Lógica para sucesso na resposta
          var redirectUrl = response.data.redirect_url;
          window.location.href = redirectUrl;
          console.log(response.data);
      })
      .catch(function(error) {
          // Lógica para erro na resposta
          console.error(error);
      });

      });

      if(document.getElementById("mudancaResultado")) {
      var test = document.getElementById("mudancaResultado");
      if (test.classList.value == "1") {
          var elementos = document.querySelectorAll(".abrir_form_resultado_esperado");
          
          for (var i = 0; i < elementos.length; i++) {
              elementos[i].classList.remove('icon-plus');
              elementos[i].classList.add('icon-caret-right');
          }
      }
      }

      $("#dominio_id").change(function(){
          var inputDominio = document.getElementById("inputDominio");
          inputDominio.value = this.value;
      });

      var maturidadeSelecionadaNivelEscolha = document.getElementById("maturidadeSelecionadaNivelEscolha");

      if(maturidadeSelecionadaNivelEscolha.classList.value == "1")
      {
          var elementos = document.querySelectorAll('.processoNivelSelecionado');
          console.log(elementos);
          elementos.forEach(elemento => {
              elemento.classList.remove('hidden');
          });
      }
      else if(maturidadeSelecionadaNivelEscolha.classList.value == "2")
      {
          var elementos = document.querySelectorAll('.resultadoNivelSelecionado');
          console.log(elementos);
          elementos.forEach(elemento => {
              elemento.classList.remove('hidden');
          });
      }
    });

    function resultado_escolha(escolha){
        if(escolha == "2"){
            document.getElementById("nivel_escolha").classList.remove("hidden");
            
        } else if(escolha == "1"){
            document.getElementById("nivel_escolha").classList.add("hidden");
        }
    }

    function show_dimensao(form_id){
        if (form_id == "abrir_form") {
        document.getElementById("form_dimensao_1").classList.remove('hidden');
        } else if (form_id == "cancelar_form") {
        document.getElementById("form_dimensao_1").classList.add('hidden');
        }
        
    }

    

 function mostraModelosSalvos() {
        screenFade = document.getElementById('screen-fade');
        div_ModelosSalvos = document.getElementById('modelos-salvos');
        if(screenFade.classList.contains('hidden')) {
            if(div_ModelosSalvos.classList.contains('hidden')) {
            screenFade.classList.remove('hidden');
            div_ModelosSalvos.classList.remove('hidden');
            } 
        }
        else {
            screenFade.classList.add('hidden');
            div_ModelosSalvos.classList.add('hidden');
        }
    } 


</script>
