            <%= select_tag "modelo_aplicado_id", 
          options_for_select(
            @modelo_aplicado.where(user_id: current_user.id).map do |modelo_aplicado|
              [
                "#{@maturidades.find(modelo_aplicado.maturidade_id).nome} - #{modelo_aplicado.dominio}",
                modelo_aplicado.id,
                { class: "#{modelo_aplicado.maturidade_id}" }
              ]
            end,
            @modelo
          ),
          prompt: "Escolha um modelo",
          class: "modelo corpo_texto_select"
        %>
    </div>
    <%if @opcao != 0%>
      <% maturidade_selecionada = Maturidade.find(@opcao)%>
      <div id="mudancaResultado" class="<%=maturidade_selecionada.resultadoEscolha%>"> </div>
    <% else %>
      <% maturidade_selecionada = Maturidade.new %>
    <%end%>
    <button onclick="showModalInfos()" class="header-title-info d-flex-center-center h-100">
        <%= image_tag('icons/info.svg', width: '25px', height: '25px') %>
    </button>
    </div>
    <% vetorResultado = [] %>
    <div class="header-links d-flex-center-start h-100 w-fit">
        <div class="header-links-wrapper d-flex-center-center">
            <% if @modelo != 0 %>
                <div onclick="mostra_CalcularNivel()" class="header-link d-flex-center-start h-fit">
                    <img src="https://icons.iconarchive.com/icons/justicon/free-simple-line/256/Office-Banking-Finance-Bank-Accounting-icon.png" width="20" height="20" alt="Calculator Icon">
                    <a>Calcular Nivel</a>
                </div>
                <div onclick="mostra_Grafico()" class="header-link d-flex-center-start h-fit" style="margin-left: 20px;">
                    <img src="https://icons.iconarchive.com/icons/justicon/free-simple-line/256/Website-Analysis-Browser-Seo-Data-icon.png" width="20" height="20" alt="Chart Icon">
                    <a>Ver Gráfico</a>
                </div>
            <% end %>
        </div>
    </div>
</header>
<!-- <div class="main-config-priorizacao w-93" style="visibility: hidden;" id="config-priorizacao-options" class="">
    <label class="priorizacao-label">Escolha o range da priorização</label>
    <div class="d-flex-center-start w-93">
    <input class="main-config-mini-input" type="number" placeholder="Menor Nível">
    <input class="main-config-mini-input" type="number" placeholder="Maior Nível">
    </div>
</div> -->
<section class="main-content main-visualizar-item">
  <!-- maturidade_selecionada.tipoNivel = 1 é numerico -->
  <%if maturidade_selecionada.tipoNivel == "1"%>

    <%if maturidade_selecionada.menorNivel.to_i < maturidade_selecionada.maiorNivel.to_i%>
      <% niveis = (maturidade_selecionada.menorNivel.to_i..maturidade_selecionada.maiorNivel.to_i).to_a %>
    <%else%>
      <% niveis = (maturidade_selecionada.maiorNivel.to_i..maturidade_selecionada.menorNivel.to_i).to_a.reverse %>
    <%end%>

    <% niveis.each do |menorContador| %>
      <!--S== Nivel -->
      <div id="Nivel-<%=menorContador%>" class="nivel">
      <!--A== Header-Nivel -->
      <div id="header-Nivel-<%=menorContador%>" class="expandable-header header-nivel d-flex-center-between nivel w-100">
        <!-- expandeMain(grau do modelo + '-' + id) -->
        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)">
        <!-- o 1 do id é o id da Nivel-->
        <div onclick="expandeMain('Nivel-<%=menorContador%>')">
            <i id="plus-Nivel-<%=menorContador%>" class="fa-solid fa-plus hidden"></i>
            <i id="minus-Nivel-<%=menorContador%>" class="fa-solid fa-minus"></i>
        </div>
        <h3 id="titulo-Nivel-<%=menorContador%>" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=menorContador%>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <% @levels.each do |level| %>
          <% if menorContador.to_i == level.index.to_i && level.modelo_id.to_i == @opcao %>
            <%salvarDescricao = level.descricao%>
            <%contadorExistencia = 1%>
          <%end%>
        <% end %>
        <% if contadorExistencia == 1%>
          - <%= salvarDescricao %>
        <% end %>
        </h3>
        </div>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <div class="expandable-header-right">
          <button onclick="showModal('<%=menorContador%>')" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-chart-line"></i> Ver Gráfico
          </button>
        </div>
      </div>
      <!-- maturidade_selecionada.nivelEscolha = 1 é em processos = 2 em resultados -->
      <%if maturidade_selecionada.nivelEscolha == "2"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
            <% @resultados.each do |resultado| %>
            <%if processo.id == resultado.processo_id%>
              <%if resultado.nivel_selecionado.to_i == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=resultado.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=resultado.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=resultado.id%>')">
                            <i id="plus-Processo-<%=resultado.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=resultado.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>→</strong> <%=processo.descricao%> <strong>→</strong> <%=resultado.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=resultado.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% resultado.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2 %>
                                  <% vetorResultado.push(menorContador-1) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start"><%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Atende Totalmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Atende parcialmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Não Atende</p>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Artefato não classificado</p>
                                      </div>
                                    <% end %>
                                </div> 
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
            <%end%>
            <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%elsif maturidade_selecionada.nivelEscolha == "1"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
              <%if processo.nivel_selecionado.to_i == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=processo.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=processo.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=processo.id%>')">
                            <i id="plus-Processo-<%=processo.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=processo.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>→</strong> <%=processo.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=processo.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% processo.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                  <% vetorResultado.push(menorContador-1) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start" style="width:80%">
                                    <h5 class="descricao-artefato"><%= doc.descricao%></h5>
                                    <span class="descricao-artefato">-</span>
                                    <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end" style="width:20%">
                                        <p>Atende Totalmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Atende parcialmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Não Atende</p>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Artefato não classificado</p>
                                      </div>
                                    <% end %>
                                </div>
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%elsif maturidade_selecionada.nivelEscolha == "3"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
              <%if processo.nivel_selecionado.to_i == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=processo.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=processo.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=processo.id%>')">
                            <i id="plus-Processo-<%=processo.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=processo.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>→</strong> <%=processo.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=processo.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% processo.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                  <% vetorResultado.push(menorContador-1) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start" style="width:80%">
                                    <h5 class="descricao-artefato"><%= doc.descricao%></h5>
                                    <span class="descricao-artefato">-</span>
                                    <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end" style="width:20%">
                                        <p>Atende Totalmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Atende parcialmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Não Atende</p>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Artefato não classificado</p>
                                      </div>
                                    <% end %>
                                </div> 
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%end%>  
      </div>
    <%end%>
  <!-- maturidade_selecionada.tipoNivel = 2 é alfanumerico -->
  <%elsif maturidade_selecionada.tipoNivel == "2"%>
    <%if maturidade_selecionada.menorNivel.to_s < maturidade_selecionada.maiorNivel.to_s%>
      <% niveis = (maturidade_selecionada.menorNivel.to_s..maturidade_selecionada.maiorNivel.to_s).to_a %>
    <%else%>
      <% niveis = (maturidade_selecionada.maiorNivel.to_s..maturidade_selecionada.menorNivel.to_s).to_a.reverse %>
    <%end%>

    <% niveis.each do |menorContador| %>
      <% menorContadorContar = menorContador%>
      <!--S== Nivel -->
      <div id="Nivel-<%=menorContador%>" class="nivel">
      <!--A== Header-Nivel -->
      <div id="header-Nivel-<%=menorContador%>" class="expandable-header header-nivel d-flex-center-between nivel w-100">
        <!-- expandeMain(grau do modelo + '-' + id) -->
        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)">
        <!-- o 1 do id é o id da Nivel-->
        <div onclick="expandeMain('Nivel-<%=menorContador%>')">
            <i id="plus-Nivel-<%=menorContador%>" class="fa-solid fa-plus hidden"></i>
            <i id="minus-Nivel-<%=menorContador%>" class="fa-solid fa-minus"></i>
        </div>
        <h3 id="titulo-Nivel-<%=menorContador%>" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=menorContador%>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <% @levels.each do |level| %>
          <% if menorContador.to_s == level.index.to_s && level.modelo_id.to_i == @opcao %>
            <%salvarDescricao = level.descricao%>
            <%contadorExistencia = 1%>
          <%end%>
        <% end %>
        <% if contadorExistencia == 1%>
          - <%= salvarDescricao %>
        <% end %>
        </h3>
        </div>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <div class="expandable-header-right">
          <button onclick="showModal('<%=menorContador%>')" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-chart-line"></i> Ver Gráfico
          </button>
        </div>
      </div>
      <!-- maturidade_selecionada.nivelEscolha = 1 é em processos = 2 em resultados -->
      <%if maturidade_selecionada.nivelEscolha == "2"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
            <% @resultados.each do |resultado| %>
            <%if processo.id == resultado.processo_id%>
              <%if resultado.nivel_selecionado.to_s == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=resultado.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=resultado.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=resultado.id%>')">
                            <i id="plus-Processo-<%=resultado.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=resultado.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>→</strong> <%=processo.descricao%> <strong>→</strong> <%=resultado.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=resultado.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% resultado.docs.each do |doc| %>
                              <div class="table-row">	
                              <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                <% vetorResultado.push(menorContadorContar) %>
                              <%end%>	
                                <div class="table-data d-flex-center-start">
                                  <h5 class="descricao-artefato"><%= doc.descricao%></h5>
                                  <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                  <% if doc.classificacao == 1 %>
                                    <div class="table-data d-flex-center-end">
                                      <p>Atende Totalmente</p>
                                    </div>
                                  <% elsif doc.classificacao == 2 %>
                                    <div class="table-data d-flex-center-end">
                                      <p>Atende parcialmente</p>
                                    </div>
                                  <% elsif doc.classificacao == 3 %>
                                    <div class="table-data d-flex-center-end">
                                      <p>Não Atende</p>
                                    </div>
                                  <% else %>
                                    <div class="table-data d-flex-center-end">
                                      <p>Artefato não classificado</p>
                                    </div>
                                  <% end %>
                              </div> 
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
            <%end%>
            <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%elsif maturidade_selecionada.nivelEscolha == "1"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
              <%if processo.nivel_selecionado.to_s == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=processo.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=processo.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;" onclick="show_todos_processos(1)">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=processo.id%>')">
                            <i id="plus-Processo-<%=processo.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=processo.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>→</strong> <%=processo.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=processo.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% processo.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                  <% vetorResultado.push(menorContadorContar) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start">
                                    <h5 class="descricao-artefato"><%= doc.descricao%></h5> 
                                    <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Atende Totalmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Atende parcialmente</p>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Não Atende</p>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end">
                                        <p>Artefato não classificado</p>
                                      </div>
                                    <% end %>
                                </div> 
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%end%>  
      </div>
    <%end%>
  <%end%>
</section>

<style>
  #threejs-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }
  .legend {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .legend-item {
    display: flex;
    align-items: center;
  }
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
</style>

<div id="threejs-container"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Configuração básica da cena
    var scene = new THREE.Scene();
    var camera = new THREE.PerspectiveCamera(75, window.innerWidth/window.innerHeight, 0.1, 1000);
    var renderer = new THREE.WebGLRenderer();
    renderer.setSize(window.innerWidth * 0.8, 400); // Ajustar a altura do renderizador
    renderer.setClearColor(0xFFFFFF, 1); // Define o fundo do gráfico como branco
    document.getElementById('threejs-container').appendChild(renderer.domElement);

    // Adicionando OrbitControls
    var controls = new THREE.OrbitControls(camera, renderer.domElement);

    // Dados dos artefatos por nível
    var artifactData = <%= @artifact_data_por_nivel.to_json.html_safe %>;

    var colors = {
      1: 0x4CAF50, // Verde para Atende Totalmente
      2: 0xFFEB3B, // Amarelo para Atende Parcialmente
      3: 0xF44336, // Vermelho para Não Atende
      default: 0x9E9E9E // Cinza para Não Classificado
    };

    var heights = {
      1: 6, // Maior para Atende Totalmente
      2: 4, // Intermediário para Atende Parcialmente
      3: 2,  // Menor para Não Atende
      default: 1  // Marca no chão para Não Avaliado
    };

    var maxColumns = Math.max(...Object.values(artifactData).map(level => level.length));
    var columnWidth = 1.0; // Largura padrão de cada coluna

    Object.keys(artifactData).forEach(function(nivel, nivelIndex) {
      var artefatos = artifactData[nivel];
      var nivelWidth = maxColumns * columnWidth; // Largura total do nível
      var spacing = nivelWidth / artefatos.length; // Espaçamento entre as colunas
      var xOffset = 0; // Resetar xOffset para cada nível

      artefatos.forEach(function(artefato, index) {
        var color = colors[artefato.classificacao] || colors.default;
        var height = heights[artefato.classificacao] || 1;
        var geometry = new THREE.BoxGeometry(spacing * 0.8, height, columnWidth);
        var material = new THREE.MeshBasicMaterial({color: color});
        var building = new THREE.Mesh(geometry, material);
        building.position.set(xOffset, height / 2, nivelIndex * -2);
        scene.add(building);

        // Adiciona texto para cada artefato apenas uma vez
        if (index === 0) { // Apenas para o primeiro artefato de cada nível
          var loader = new THREE.FontLoader();
          loader.load('https://threejs.org/examples/fonts/helvetiker_regular.typeface.json', function (font) {
            var textGeometry = new THREE.TextGeometry('Nivel ' + nivel, {
              font: font,
              size: 0.5,
              height: 0.1
            });
            var textMaterial = new THREE.MeshBasicMaterial({color: 0x000000});
            var textMesh = new THREE.Mesh(textGeometry, textMaterial);
            textMesh.position.set(xOffset, height + 0.5, nivelIndex * -2);
            scene.add(textMesh);

            // Atualiza a rotação do texto a cada frame
            animateText(textMesh);
          });
        }

        xOffset += spacing; // Ajuste para espaçamento entre as barras
      });

      function animateText(textMesh) {
        requestAnimationFrame(() => animateText(textMesh));
        textMesh.lookAt(camera.position); // Faz o texto sempre olhar para a câmera
      }
    });

    camera.position.set(5, 5, 15);
    camera.lookAt(new THREE.Vector3(5, 0, 0));

    // Função de animação
    var animate = function () {
      requestAnimationFrame(animate);
      controls.update(); // Atualiza os controles a cada frame
      renderer.render(scene, camera);
    };

    animate();
  });
</script>

<script>
  function mostra_Grafico() {
    let popup = document.getElementById('popup_Grafico');
    if(popup.classList.contains('hidden')) {
        popup.classList.remove('hidden');
    } else {
        popup.classList.add('hidden');
    }
  }
</script>

<div class="legend">
  <div class="legend-item">
    <div class="legend-color" style="background-color: #4CAF50;"></div>
    <span>Atende Totalmente</span>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: #FFEB3B;"></div>
    <span>Atende Parcialmente</span>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: #F44336;"></div>
    <span>Não Atende</span>
  </div>
  <div class="legend-item">
    <div class="legend-color" style="background-color: #9E9E9E;"></div>
    <span>Não Classificado</span>
  </div>
</div>

<div id="graficoModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="fecha_Grafico()">&times;</span>
  </div>
</div>

<script>
  function fecha_Grafico() {
    var modal = document.getElementById("graficoModal");
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    var modal = document.getElementById("graficoModal");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>

<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .canvas-container {
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 400px;
    margin-top: 20px;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
  }

  .close:hover {
    color: #333;
  }

  .expandable-header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .btn-sm {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .btn-sm:hover {
    background-color: #0056b3;
  }

  .btn-sm i {
    font-size: 14px;
  }

  #colocarGrafico {
    display: none;
  }
</style>

<style>
  .expandable-header {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .expandable-header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .expandable-header-left {
    flex: 1;
    padding-right: 120px; /* Make space for the button */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .btn-sm {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }

  .btn-sm:hover {
    background-color: #0056b3;
  }

  .btn-sm i {
    font-size: 14px;
  }

  h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
</style>

<div id="modaisGraficos">
  <% if @chart_data_por_nivel.present? %>
    <% @chart_data_por_nivel.each do |nivel, chart_data| %>
      <div id="modalNivel<%= nivel %>" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal('<%= nivel %>')">&times;</span>
          <h3>Gráfico do Nível <%= nivel %></h3>
          <div class="canvas-container">
            <canvas id="graficoNivel<%= nivel %>"></canvas>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  var chartInstances = {};
  var chartData = {};

  // Armazenar os dados dos gráficos
  <% if @chart_data_por_nivel.present? %>
    <% @chart_data_por_nivel.each do |nivel, data| %>
      chartData['<%= nivel %>'] = <%= raw data.to_json %>;
    <% end %>
  <% end %>

  function createChart(nivel) {
    // Destruir gráfico existente se houver
    if (chartInstances[nivel]) {
      chartInstances[nivel].destroy();
      delete chartInstances[nivel];
    }

    var canvas = document.getElementById('graficoNivel' + nivel);
    var ctx = canvas.getContext('2d');
    
    // Limpar o canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    
    // Criar novo gráfico
    chartInstances[nivel] = new Chart(ctx, {
      type: 'radar',
      data: chartData[nivel],
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          r: {
            beginAtZero: true,
            min: 0,
            max: 100,
            ticks: {
              display: false
            },
            grid: {
              color: 'rgba(0, 0, 0, 0.1)'
            },
            angleLines: {
              color: 'rgba(0, 0, 0, 0.1)'
            },
            pointLabels: {
              font: {
                size: 14,
                weight: 'bold'
              },
              color: '#000'
            }
          }
        },
        plugins: {
          legend: {
            position: 'bottom',
            labels: {
              font: {
                size: 12,
                weight: 'bold'
              },
              padding: 15,
              color: '#000',
              usePointStyle: true,
              pointStyle: 'circle'
            }
          },
          tooltip: {
            backgroundColor: 'rgba(0, 0, 0, 0.8)',
            titleFont: {
              size: 14,
              weight: 'bold'
            },
            bodyFont: {
              size: 14
            },
            padding: 10,
            callbacks: {
              label: function(context) {
                return context.dataset.label + ': ' + context.raw + '%';
              }
            }
          }
        }
      }
    });
  }

  function showModal(nivel) {
    var modal = document.getElementById('modalNivel' + nivel);
    modal.style.display = 'block';
    
    // Pequeno delay para garantir que o modal está visível
    setTimeout(() => {
      createChart(nivel);
    }, 100);
  }

  function closeModal(nivel) {
    var modal = document.getElementById('modalNivel' + nivel);
    modal.style.display = 'none';
    
    if (chartInstances[nivel]) {
      chartInstances[nivel].destroy();
      delete chartInstances[nivel];
    }
  }

  // Fechar modal quando clicar fora dele
  window.onclick = function(event) {
    <% if @chart_data_por_nivel.present? %>
      <% @chart_data_por_nivel.each do |nivel, _| %>
        var modal = document.getElementById('modalNivel<%= nivel %>');
        if (event.target == modal) {
          closeModal('<%= nivel %>');
        }
      <% end %>
    <% end %>
  }

  // Ajustar tamanho do canvas quando a janela é redimensionada
  window.addEventListener('resize', function() {
    <% if @chart_data_por_nivel.present? %>
      <% @chart_data_por_nivel.each do |nivel, _| %>
        if (chartInstances['<%= nivel %>']) {
          chartInstances['<%= nivel %>'].resize();
        }
      <% end %>
    <% end %>
  });
</script>

<section class="pop-up-calcularNivel d-flex-center-center hidden" id="popup_CalcularNivel">
    <div class="popup-main d-flex-center-evenly flex-column" style="height:150px;" id="popup_CalcularNivelMain">
      <div> 
        <div class="popup-titulo">
          <h2> O nível deste modelo é <%= @nivel_atual%></h2>
        </div>
      </div>
      <div class="popup-btn popup-padding d-flex-center-center w-100">
        <button onclick="mostra_CalcularNivel()">Fechar</button>
      </div>
    </div>
  </section>

  <!-- Modal do Gráfico -->
  <section class="pop-up-calcularNivel d-flex-center-center hidden" id="popup_Grafico">
      <div class="popup-main d-flex-center-evenly flex-column" style="height: auto; min-height: 700px; width: 900px; padding: 20px;" id="popup_GraficoMain">
          <button onclick="mostra_Grafico()" style="align-self: flex-end; background-color: #dc3545; color: white; border: none; padding: 10px 20px; border-radius: 4px; font-size: 18px; cursor: pointer; margin-bottom: 10px;">X</button>
          <div class="popup-content" style="width: 100%; height: 600px;">
              <canvas id="classificacoesChart" style="width: 100%; height: 100%;"></canvas>
              <div class="text-center" style="margin-top: 15px;">
                  <button onclick="downloadChart()" class="btn btn-primary" style="padding: 8px 15px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer;">
                      <%= image_tag('icons/download.svg', width: '20px', height: '20px', style: 'margin-right: 5px; vertical-align: middle;') %>
                      Download Gráfico
                  </button>
              </div>
          </div>
      </div>
  </section>

<script>
    //*Função de expandir e retrair as camadas dos modelos
function expandeMain(id_expandir) {
  var div_expandir = document.getElementById('main-' + id_expandir);
  var plus_trocar = document.getElementById('plus-' + id_expandir);
  var minus_trocar = document.getElementById('minus-' + id_expandir);

  if (div_expandir.classList.contains('hidden')) {
    div_expandir.classList.remove('hidden');
    plus_trocar.classList.add('hidden');
    minus_trocar.classList.remove('hidden');

  } else {
    div_expandir.classList.add('hidden');
    plus_trocar.classList.remove('hidden');
    minus_trocar.classList.add('hidden');
  }
}
//* Fim ---

//* Mostrar titulo de um nível nas telas de Utilizar modelo e cadastrar estrutura:
function mostra_titulo(id) {
  let titulo = document.getElementById('titulo-nivel-'+id);
  if(titulo.style.maxHeight == '25px') {
    titulo.style.maxHeight = 'none';
  } else {
    titulo.style.maxHeight = '25px';
  }
}
//* Fim ---

//* Mostrar Caixa de Criação de nova estrutura para um modelo ja criado:
function showNewStructure(id) {
  let div_criacao = document.getElementById('create_new_'+id);

  if(div_criacao.classList.contains('hidden'))
    div_criacao.classList.remove('hidden');
  else
    div_criacao.classList.add('hidden');
}
//* Fim ---

//* Mostrar Modal de informações sobre a página:
function showModalInfos() {
  let modalInfos = document.getElementById('infos_modal');

  if(modalInfos.classList.contains('hidden'))
    modalInfos.classList.remove('hidden');
  else
    modalInfos.classList.add('hidden');
}
//* Fim ---

//* Mostrar Modal de confirmação de exclusão:
function showModalConfirmacao() {
  let modalConfirmacao = document.getElementById('modal_confirmacao');
  let inputConfirmaExclusao = document.getElementById('input_confirmation_exclusao');
  let btnConfirmaExclusao = document.getElementById('btn_confirma_exclusao');

  if(modalConfirmacao.classList.contains('hidden')) {
    modalConfirmacao.classList.remove('hidden');
    inputConfirmaExclusao.value = '';
    btnConfirmaExclusao.disabled = true;
  }
  else
    modalConfirmacao.classList.add('hidden');
}
//* Fim ---

//* Retira o disabled do botao de exclusão do modal de confirmação de exclusão
function liberaBotaoExclusao() {
  let inputConfirmaExclusao = document.getElementById('input_confirmation_exclusao');
  let btnConfirmaExclusao = document.getElementById('btn_confirma_exclusao');

  if(inputConfirmaExclusao.value == 'confirmo')
    btnConfirmaExclusao.disabled = false;
  else
    btnConfirmaExclusao.disabled = true;
}
//* Fim ---

//* Utilziar modelo: mostra os inputs de nivel a serem escolhidos
function mostraRangePriorizacao() {
  let checkboxPriorizacao = document.getElementById('config-priorizacao');
  let divInputsPriorizacao = document.getElementById('config-priorizacao-options');
  let btnSubmitConfigPrimaria = document.getElementById('config_primaria_submitBtn');

  if(checkboxPriorizacao.checked == true) {
    divInputsPriorizacao.style.visibility = "visible";
    btnSubmitConfigPrimaria.style.alignSelf = "end";
  } else {
    divInputsPriorizacao.style.visibility = "hidden";
    btnSubmitConfigPrimaria.style.alignSelf = "start";
  }
    

}
//* Fim ---

//* Utilizar Modelo: mostrar a configuração inicial do modelo:
function mostraOpcoesPrimariasModelo() {
  var divConfigPrimariaModelo = document.getElementById("config_primaria_modelo");

  if(divConfigPrimariaModelo.classList.contains("hidden")) {
    divConfigPrimariaModelo.classList.remove("hidden");
  } else {
    divConfigPrimariaModelo.classList.add("hidden");
  }
}
//* Fim ---



//* Abrir pop up de calcular nivel de modelo
function mostra_CalcularNivel() {
  const divPopUp = document.getElementById("popup_CalcularNivel");
  console.log(divPopUp);
  if(divPopUp.classList.contains("hidden")) {
    divPopUp.classList.remove("hidden");
  } else {
    divPopUp.classList.add("hidden");
  }
}
//* Fim ---

//* Função para mostrar/esconder o modal do gráfico
function mostra_Grafico() {
    let popup = document.getElementById('popup_Grafico');
    
    if(popup.classList.contains('hidden')) {
        popup.classList.remove('hidden');
        // Inicializa o gráfico quando o modal é aberto
        <% if @modelo != 0 && @chart_data.present? %>
            var ctx = document.getElementById('classificacoesChart').getContext('2d');
            window.chartInstance = new Chart(ctx, {
                type: 'radar',
                data: <%= raw @chart_data.to_json %>,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        r: {
                            beginAtZero: true,
                            min: 0,
                            max: 100,
                            ticks: {
                                display: false
                            },
                            grid: {
                                color: 'rgba(0, 0, 0, 0.1)'
                            },
                            angleLines: {
                                color: 'rgba(0, 0, 0, 0.1)'
                            },
                            pointLabels: {
                                font: {
                                    size: 18,
                                    weight: 'bold'
                                },
                                color: '#000'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                font: {
                                    size: 16,
                                    weight: 'bold'
                                },
                                padding: 20,
                                color: '#000'
                            }
                        },
                        tooltip: {
                            titleFont: {
                                size: 16
                            },
                            bodyFont: {
                                size: 16
                            },
                            padding: 12,
                            callbacks: {
                                label: function(context) {
                                    return context.dataset.label + ': ' + context.raw + '%';
                                }
                            }
                        },
                        datalabels: {
                            color: '#000',
                            font: {
                                weight: 'bold',
                                size: 14
                            },
                            formatter: function(value) {
                                return value + '%';
                            }
                        },
                        title: {
                            display: true,
                            text: [
                                <% if @modelo != 0 %>
                                'Instituição: <%= ModeloAplicado.find(@modelo).instituicao %>',
                                'Modelo: <%= Maturidade.find(ModeloAplicado.find(@modelo).maturidade_id).nome %>',
                                'Método: <%= ModeloAplicado.find(@modelo).metodo %>',
                                'Domínio: <%= ModeloAplicado.find(@modelo).dominio %>',
                                'Nível do Modelo: <%= @nivel_atual %>'
                                <% else %>
                                'Selecione um modelo para visualizar as informações'
                                <% end %>
                            ],
                            font: {
                                size: 14,
                                weight: 'bold'
                            },
                            padding: {
                                top: 10,
                                bottom: 10
                            }
                        },
                        tooltip: {
                            callbacks: {
                                label: function(context) {
                                    const label = context.label || '';
                                    const value = context.raw || 0;
                                    const total = context.dataset.data.reduce((acc, curr) => acc + curr, 0);
                                    const percentage = ((value * 100) / total).toFixed(1);
                                    return `${label}: ${value} (${percentage}%)`;
                                }
                            }
                        }
                    }
                },
                plugins: [ChartDataLabels]
            });
        <% end %>
    } else {
        popup.classList.add('hidden');
    }
}

function downloadChart() {
    const canvas = document.getElementById('classificacoesChart');
    const link = document.createElement('a');
    
    // Formata o nome do arquivo com as informações do modelo
    const fileName = <% if @modelo != 0 %>'<%= ModeloAplicado.find(@modelo).instituicao %>_<%= Maturidade.find(ModeloAplicado.find(@modelo).maturidade_id).nome %>_<%= ModeloAplicado.find(@modelo).metodo %>_<%= ModeloAplicado.find(@modelo).dominio %>'<% else %> 'grafico'<% end %>.replace(/[^a-z0-9]/gi, '_').toLowerCase() + '.png';
    
    link.download = fileName;
    link.href = canvas.toDataURL('image/png');
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

$(document).ready(function(){
  $(".header-select #modelo_aplicado_id").change(function(){
    var classeDaOpcao = this.value;

    var modeloSelecionado = $(this).find('option:selected');
    var opcaoSelecionada = modeloSelecionado.attr('class');

    axios.post("/visualizar/atualizar_opcao", { opcao: opcaoSelecionada , modelo: classeDaOpcao})
    .then(function(response) {
      // Lógica para sucesso na resposta
      var redirectUrl = response.data.redirect_url;
      window.location.href = redirectUrl;
      console.log(response.data);
    })
    .catch(function(error) {
      // Lógica para erro na resposta
      console.error(error);
    });
  });

  if(document.getElementById("mudancaResultado")) {
    var test = document.getElementById("mudancaResultado");
    
    if (test.classList.value == "1") {
      var elementos = document.querySelectorAll(".abrir_form_resultado_esperado");
      
      for (var i = 0; i < elementos.length; i++) {
        elementos[i].classList.remove('icon-plus');
        elementos[i].classList.add('icon-caret-right');
        elementos[i].nextElementSibling.nextElementSibling.nextElementSibling.remove();
      }
    }
  }
});
</script>
