<%= select_tag "modelo_aplicado_id", 
          options_for_select(
            @modelo_aplicado.where(user_id: current_user.id).map do |modelo_aplicado|
              [
                "#{@maturidades.find(modelo_aplicado.maturidade_id).nome} - #{modelo_aplicado.dominio}",
                modelo_aplicado.id,
                { class: "#{modelo_aplicado.maturidade_id}" }
              ]
            end,
            @modelo
          ),
          prompt: "Escolha um modelo",
          class: "modelo corpo_texto_select"
        %>
    </div>
    <%if @opcao != 0%>
      <% maturidade_selecionada = Maturidade.find(@opcao)%>
      <div id="mudancaResultado" class="<%=maturidade_selecionada.resultadoEscolha%>"> </div>
    <% else %>
      <% maturidade_selecionada = Maturidade.new %>
    <%end%>
    <button onclick="showModalInfos()" class="header-title-info d-flex-center-center h-100">
        <%= image_tag('icons/info.svg', width: '25px', height: '25px') %>
    </button>
    </div>
    <% vetorResultado = [] %>
    <div class="header-links d-flex-center-start h-100 w-fit">
        <div class="header-links-wrapper d-flex-center-center">
            <% if @modelo != 0 %>
                <div onclick="mostra_CalcularNivel()" class="header-link d-flex-center-start h-fit">
                    <img src="https://icons.iconarchive.com/icons/justicon/free-simple-line/256/Office-Banking-Finance-Bank-Accounting-icon.png" width="20" height="20" alt="Calculator Icon">
                    <a>Calcular Nivel</a>
                </div>
                <div onclick="mostra_Grafico()" class="header-link d-flex-center-start h-fit" style="margin-left: 20px;">
                    <img src="https://icons.iconarchive.com/icons/justicon/free-simple-line/256/Website-Analysis-Browser-Seo-Data-icon.png" width="20" height="20" alt="Chart Icon">
                    <a>Ver Gráfico Geral</a>
                </div>
            <% end %>
        </div>
    </div>
</header>
<!-- <div class="main-config-priorizacao w-93" style="visibility: hidden;" id="config-priorizacao-options" class="">
    <label class="priorizacao-label">Escolha o range da priorização</label>
    <div class="d-flex-center-start w-93">
    <input class="main-config-mini-input" type="number" placeholder="Menor Nível">
    <input class="main-config-mini-input" type="number" placeholder="Maior Nível">
    </div>
</div> -->
<section class="main-content main-visualizar-item">
  <!-- maturidade_selecionada.tipoNivel = 1 é numerico -->
  <%if maturidade_selecionada.tipoNivel == "1"%>

    <%if maturidade_selecionada.menorNivel.to_i < maturidade_selecionada.maiorNivel.to_i%>
      <% niveis = (maturidade_selecionada.menorNivel.to_i..maturidade_selecionada.maiorNivel.to_i).to_a %>
    <%else%>
      <% niveis = (maturidade_selecionada.maiorNivel.to_i..maturidade_selecionada.menorNivel.to_i).to_a.reverse %>
    <%end%>

    <% niveis.each do |menorContador| %>
      <!--S== Nivel -->
      <div id="Nivel-<%=menorContador%>" class="nivel">
      <!--A== Header-Nivel -->
      <div id="header-Nivel-<%=menorContador%>" class="expandable-header header-nivel d-flex-center-between nivel w-100">
        <!-- expandeMain(grau do modelo + '-' + id) -->
        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;">
        <!-- o 1 do id é o id da Nivel-->
        <div onclick="expandeMain('Nivel-<%=menorContador%>')">
            <i id="plus-Nivel-<%=menorContador%>" class="fa-solid fa-plus hidden"></i>
            <i id="minus-Nivel-<%=menorContador%>" class="fa-solid fa-minus"></i>
        </div>
        <h3 id="titulo-Nivel-<%=menorContador%>" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=menorContador%>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <% @levels.each do |level| %>
          <% if menorContador.to_i == level.index.to_i && level.modelo_id.to_i == @opcao %>
            <%salvarDescricao = level.descricao%>
            <%contadorExistencia = 1%>
          <%end%>
        <% end %>
        <% if contadorExistencia == 1%>
          - <%= salvarDescricao %>
        <% end %>
        </h3>
        </div>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <div class="expandable-header-right">
          <button onclick="showModal('<%=menorContador%>')" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-chart-line"></i> Ver Gráfico
          </button>
        </div>
      </div>
      <!-- maturidade_selecionada.nivelEscolha = 1 é em processos = 2 em resultados -->
      <%if maturidade_selecionada.nivelEscolha == "2"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
            <% @resultados.each do |resultado| %>
            <%if processo.id == resultado.processo_id%>
              <%if resultado.nivel_selecionado.to_i == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=resultado.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=resultado.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=resultado.id%>')">
                            <i id="plus-Processo-<%=resultado.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=resultado.id%>" class="fa-solid fa-minus hidden></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>-></strong> <%=processo.descricao%> <strong>-></strong> <%=resultado.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=resultado.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% resultado.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2 %>
                                  <% vetorResultado.push(menorContador-1) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start"><%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-totalmente">Atende Totalmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-parcialmente">Atende Parcialmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-atende">Não Atende</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-classificado">Artefato não classificado</span>
                                      </div>
                                    <% end %>
                                </div> 
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
            <%end%>
            <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%elsif maturidade_selecionada.nivelEscolha == "1"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
              <%if processo.nivel_selecionado.to_i == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=processo.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=processo.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=processo.id%>')">
                            <i id="plus-Processo-<%=processo.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=processo.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>-></strong> <%=processo.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=processo.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% processo.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                  <% vetorResultado.push(menorContador-1) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start" style="width:80%">
                                    <h5 class="descricao-artefato"><%= doc.descricao%></h5>
                                    <span class="descricao-artefato">-</span>
                                    <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-totalmente">Atende Totalmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-parcialmente">Atende Parcialmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-atende">Não Atende</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-classificado">Artefato não classificado</span>
                                      </div>
                                    <% end %>
                                </div>
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%elsif maturidade_selecionada.nivelEscolha == "3"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
              <%if processo.nivel_selecionado.to_i == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=processo.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=processo.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=processo.id%>')">
                            <i id="plus-Processo-<%=processo.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=processo.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>-></strong> <%=processo.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=processo.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% processo.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                  <% vetorResultado.push(menorContador-1) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start" style="width:80%">
                                    <h5 class="descricao-artefato"><%= doc.descricao%></h5>
                                    <span class="descricao-artefato">-</span>
                                    <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-totalmente">Atende Totalmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-parcialmente">Atende Parcialmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-atende">Não Atende</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-classificado">Artefato não classificado</span>
                                      </div>
                                    <% end %>
                                </div> 
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%end%>  
      </div>
    <%end%>
  <!-- maturidade_selecionada.tipoNivel = 2 é alfanumerico -->
  <%elsif maturidade_selecionada.tipoNivel == "2"%>
    <%if maturidade_selecionada.menorNivel.to_s < maturidade_selecionada.maiorNivel.to_s%>
      <% niveis = (maturidade_selecionada.menorNivel.to_s..maturidade_selecionada.maiorNivel.to_s).to_a %>
    <%else%>
      <% niveis = (maturidade_selecionada.maiorNivel.to_s..maturidade_selecionada.menorNivel.to_s).to_a.reverse %>
    <%end%>

    <% niveis.each do |menorContador| %>
      <% menorContadorContar = menorContador%>
      <!--S== Nivel -->
      <div id="Nivel-<%=menorContador%>" class="nivel">
      <!--A== Header-Nivel -->
      <div id="header-Nivel-<%=menorContador%>" class="expandable-header header-nivel d-flex-center-between nivel w-100">
        <!-- expandeMain(grau do modelo + '-' + id) -->
        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;">
        <!-- o 1 do id é o id da Nivel-->
        <div onclick="expandeMain('Nivel-<%=menorContador%>')">
            <i id="plus-Nivel-<%=menorContador%>" class="fa-solid fa-plus hidden"></i>
            <i id="minus-Nivel-<%=menorContador%>" class="fa-solid fa-minus"></i>
        </div>
        <h3 id="titulo-Nivel-<%=menorContador%>" style="max-height: 25px;" onclick="mostra_titulo('1')"><%=menorContador%>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <% @levels.each do |level| %>
          <% if menorContador.to_s == level.index.to_s && level.modelo_id.to_i == @opcao %>
            <%salvarDescricao = level.descricao%>
            <%contadorExistencia = 1%>
          <%end%>
        <% end %>
        <% if contadorExistencia == 1%>
          - <%= salvarDescricao %>
        <% end %>
        </h3>
        </div>
        <%salvarDescricao = ""%>
        <%contadorExistencia = 0%>
        <div class="expandable-header-right">
          <button onclick="showModal('<%=menorContador%>')" class="btn btn-primary btn-sm">
            <i class="fa-solid fa-chart-line"></i> Ver Gráfico
          </button>
        </div>
      </div>
      <!-- maturidade_selecionada.nivelEscolha = 1 é em processos = 2 em resultados -->
      <%if maturidade_selecionada.nivelEscolha == "2"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
            <% @resultados.each do |resultado| %>
            <%if processo.id == resultado.processo_id%>
              <%if resultado.nivel_selecionado.to_s == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=resultado.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=resultado.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=resultado.id%>')">
                            <i id="plus-Processo-<%=resultado.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=resultado.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>-></strong> <%=processo.descricao%> <strong>-></strong> <%=resultado.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=resultado.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% resultado.docs.each do |doc| %>
                              <div class="table-row">	
                              <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                <% vetorResultado.push(menorContadorContar) %>
                              <%end%>	
                                <div class="table-data d-flex-center-start">
                                  <h5 class="descricao-artefato"><%= doc.descricao%></h5>
                                  <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                  <% if doc.classificacao == 1 %>
                                    <div class="table-data d-flex-center-end avaliacao-bloco">
                                      <span class="avaliacao-label">Avaliação:</span>
                                      <span class="avaliacao-valor atende-totalmente">Atende Totalmente</span>
                                      <% if doc.descricao_avaliador.present? %>
                                        <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                      <% end %>
                                    </div>
                                  <% elsif doc.classificacao == 2 %>
                                    <div class="table-data d-flex-center-end avaliacao-bloco">
                                      <span class="avaliacao-label">Avaliação:</span>
                                      <span class="avaliacao-valor atende-parcialmente">Atende Parcialmente</span>
                                      <% if doc.descricao_avaliador.present? %>
                                        <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                      <% end %>
                                    </div>
                                  <% elsif doc.classificacao == 3 %>
                                    <div class="table-data d-flex-center-end avaliacao-bloco">
                                      <span class="avaliacao-label">Avaliação:</span>
                                      <span class="avaliacao-valor nao-atende">Não Atende</span>
                                      <% if doc.descricao_avaliador.present? %>
                                        <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                      <% end %>
                                    </div>
                                  <% else %>
                                    <div class="table-data d-flex-center-end avaliacao-bloco">
                                      <span class="avaliacao-label">Avaliação:</span>
                                      <span class="avaliacao-valor nao-classificado">Artefato não classificado</span>
                                    </div>
                                  <% end %>
                              </div> 
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
            <%end%>
            <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%elsif maturidade_selecionada.nivelEscolha == "1"%>
        <% @dimensaos.each do |dimensao| %>
        <%if dimensao.maturidade_id == @opcao%>
          <% @processos.each do |processo| %>
          <%if dimensao.id == processo.dimensao_id%>
              <%if processo.nivel_selecionado.to_s == menorContador%>
                <!--A== Main-Nivel-F -->
                <div id="main-Nivel-<%=menorContador%>" class="expandable-main nivel">
                    <!--S== Processo-1 -->
                    <div id="Processo-<%=processo.id%>" class="resultado">
                    <!--A== Header-Processo-1 -->
                    <div id="header-Processo-<%=processo.id%>" class="expandable-header d-flex-center-between resultado w-100">
                        <div class="expandable-header-left d-flex-center-start" style="min-width: 100%!important;">
                        <!-- o 1 do id é o id da Nivel-->
                        <div onclick="expandeMain('Processo-<%=processo.id%>')">
                            <i id="plus-Processo-<%=processo.id%>" class="fa-solid fa-plus"></i>
                            <i id="minus-Processo-<%=processo.id%>" class="fa-solid fa-minus hidden"></i>
                        </div>
                        <h3 id="titulo-Nivel-<%=menorContador%>-1" onclick="mostra_titulo('1')"><%=dimensao.descricao%> <strong>-></strong> <%=processo.descricao%></h3>
                        </div>
                    </div>
                    <div id="main-Processo-<%=processo.id%>" class="expandable-main resultado hidden">
                      <div class="file-galery-wrapper nivel">
                      <div class="table">
                          <div class="table-content">	
                            <% processo.docs.each do |doc| %>
                              <%if doc.modelo == @modelo%>
                                <div class="table-row">	
                                <%if doc.classificacao == 3 || doc.classificacao == 2%>
                                  <% vetorResultado.push(menorContadorContar) %>
                                <%end%>	
                                    <div class="table-data d-flex-center-start">
                                    <h5 class="descricao-artefato"><%= doc.descricao%></h5> 
                                    <%= link_to doc.filename, rails_blob_path(doc, disposition: 'attachment'), class: 'download-link' %></a><button class="file-galery-item-btn"><%= image_tag('icons/download.svg', width: '20px', height: '20px') %></button></div>
                                    <% if doc.classificacao == 1 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-totalmente">Atende Totalmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 2 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor atende-parcialmente">Atende Parcialmente</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% elsif doc.classificacao == 3 %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-atende">Não Atende</span>
                                        <% if doc.descricao_avaliador.present? %>
                                          <div class="descricao-avaliador-bloco"><strong>Justificativa:</strong> <%= doc.descricao_avaliador %></div>
                                        <% end %>
                                      </div>
                                    <% else %>
                                      <div class="table-data d-flex-center-end avaliacao-bloco">
                                        <span class="avaliacao-label">Avaliação:</span>
                                        <span class="avaliacao-valor nao-classificado">Artefato não classificado</span>
                                      </div>
                                    <% end %>
                                </div> 
                              <%end%>
                            <% end %>                  
                          </div>	
                      </div>
                      </div>
                  </div>
                    </div>
                </div>
              <%end%>
          <%end%>
          <%end%>  
        <%end%>
        <%end%>
      <%end%>  
      </div>
    <%end%>
  <%end%>
</section>

<style>
  #threejs-container {
    width: 100%;
    height: 400px;
    margin-top: 20px;
  }

  h3 {
  width: auto; /* Permite que o h3 ocupe a largura disponível */
  white-space: normal; /* Permite a quebra de linhas */
  overflow: visible; /* Exibe o conteúdo excedente */
  word-wrap: break-word; /* Força a quebra de palavras longas */
  }
  
  .legend {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  .legend-item {
    display: flex;
    align-items: center;
  }
  .legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
</style>

<script>
  function fecha_Grafico() {
    var modal = document.getElementById("graficoModal");
    modal.style.display = "none";
  }

  window.onclick = function(event) {
    var modal = document.getElementById("graficoModal");
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.28/jspdf.plugin.autotable.min.js"></script>

<style>
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 800px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .canvas-container {
    position: relative;
    width: 100%;
    height: 60vh;
    min-height: 400px;
    margin-top: 20px;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.2s;
  }

  .hidden {
    display: none;
  }

  .close:hover {
    color: #333;
  }

  .expandable-header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .btn-sm {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .btn-sm:hover {
    background-color: #0056b3;
  }

  .btn-sm i {
    font-size: 14px;
  }

  #colocarGrafico {
    display: none;
  }
</style>

<style>
  .expandable-header {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .expandable-header-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .expandable-header-left {
    flex: 1;
    padding-right: 120px; /* Make space for the button */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .btn-sm {
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
  }

  .btn-sm:hover {
    background-color: #0056b3;
  }

  .btn-sm i {
    font-size: 14px;
  }
</style>

<div id="modaisGraficos">
  <% if @chart_data_por_nivel.present? %>
    <% @chart_data_por_nivel.each do |nivel, chart_data| %>
      <div id="modalNivel<%= nivel %>" class="modal">
        <div class="modal-content">
          <span class="close" onclick="closeModal('<%= nivel %>')">&times;</span>
          <h3>Gráfico do Nível <%= nivel %></h3>
          <div class="canvas-container">
            <canvas id="graficoNivel<%= nivel %>"></canvas>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  var chartInstances = {};
  var chartData = {};

  // Armazenar os dados dos gráficos
  <% if @chart_data_por_nivel.present? %>
    <% @chart_data_por_nivel.each do |nivel, data| %>
      chartData['<%= nivel %>'] = <%= raw data.to_json %>;
    <% end %>
  <% end %>

  function createChart(nivel) {
    // Destruir gráfico existente se houver
    if (chartInstances[nivel]) {
      chartInstances[nivel].destroy();
      delete chartInstances[nivel];
    }

    var canvas = document.getElementById('graficoNivel' + nivel);
    var ctx = canvas.getContext('2d');
    
    // Limpar o canvas
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    
    // Criar novo gráfico
    chartInstances[nivel] = new Chart(ctx, {
      type: 'radar',
      data: chartData[nivel],
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          r: {
            beginAtZero: true,
            min: 0,
            max: 100,
            ticks: {
              display: false
            },
            grid: {
              color: 'rgba(0, 0, 0, 0.1)'
            },
            angleLines: {
              color: 'rgba(0, 0, 0, 0.1)'
            },
            pointLabels: {
              font: {
                size: 18,
                weight: 'bold'
              },
              color: '#000'
            }
          }
        },
        plugins: {
          legend: {
            position: 'bottom',
            labels: {
              font: {
                size: 16,
                weight: 'bold'
              },
              padding: 20,
              color: '#000'
            }
          },
          tooltip: {
            titleFont: {
              size: 16
            },
            bodyFont: {
              size: 16
            },
            padding: 12,
            callbacks: {
              label: function(context) {
                return context.dataset.label + ': ' + context.raw + '%';
              }
            }
          },
          datalabels: {
            color: '#000',
            font: {
              weight: 'bold',
              size: 14
            },
            formatter: function(value) {
              return value + '%';
            }
          },
          title: {
            display: true,
            text: [
              <% if @modelo != 0 %>
              'Instituição: <%= ModeloAplicado.find(@modelo).instituicao %>',
              'Modelo: <%= Maturidade.find(ModeloAplicado.find(@modelo).maturidade_id).nome %>',
              'Método: <%= ModeloAplicado.find(@modelo).metodo %>',
              'Domínio: <%= ModeloAplicado.find(@modelo).dominio %>',
              'Nível do Modelo: <%= @nivel_atual %>'
              <% else %>
              'Selecione um modelo para visualizar as informações'
              <% end %>
            ],
            font: {
              size: 14,
              weight: 'bold'
            },
            padding: {
              top: 10,
              bottom: 10
            }
          },
          tooltip: {
            callbacks: {
              label: function(context) {
                const label = context.label || '';
                const value = context.raw || 0;
                const total = context.dataset.data.reduce((acc, curr) => acc + curr, 0);
                const percentage = ((value * 100) / total).toFixed(1);
                return `${label}: ${value} (${percentage}%)`;
              }
            }
          }
        }
      },
      plugins: [ChartDataLabels]
    });
  }

  function showModal(nivel) {
    var modal = document.getElementById('modalNivel' + nivel);
    modal.style.display = 'block';
    
    // Pequeno delay para garantir que o modal está visível
    setTimeout(() => {
      createChart(nivel);
    }, 100);
  }

  function closeModal(nivel) {
    var modal = document.getElementById('modalNivel' + nivel);
    modal.style.display = 'none';
    
    if (chartInstances[nivel]) {
      chartInstances[nivel].destroy();
      delete chartInstances[nivel];
    }
  }

  // Fechar modal quando clicar fora dele
  window.onclick = function(event) {
    <% if @chart_data_por_nivel.present? %>
      <% @chart_data_por_nivel.each do |nivel, _| %>
        var modal = document.getElementById('modalNivel<%= nivel %>');
        if (event.target == modal) {
          closeModal('<%= nivel %>');
        }
      <% end %>
    <% end %>
  }

  // Ajustar tamanho do canvas quando a janela é redimensionada
  window.addEventListener('resize', function() {
    <% if @chart_data_por_nivel.present? %>
      <% @chart_data_por_nivel.each do |nivel, _| %>
        if (chartInstances['<%= nivel %>']) {
          chartInstances['<%= nivel %>'].resize();
        }
      <% end %>
    <% end %>
  });
</script>

<section class="pop-up-calcularNivel d-flex-center-center hidden" id="popup_CalcularNivel">
    <div class="popup-main d-flex-center-evenly flex-column" style="height:150px;" id="popup_CalcularNivelMain">
      <div> 
        <div class="popup-titulo">
          <h2> O nível deste modelo é <%= @nivel_atual %></h2>
        </div>
      </div>
      <div class="popup-btn popup-padding d-flex-center-center w-100">
        <button onclick="mostra_CalcularNivel()">Fechar</button>
      </div>
    </div>
  </section>

  <!-- Modal do Gráfico -->
<section class="pop-up-calcularNivel d-flex-center-center hidden" id="popup_Grafico">
    <div class="popup-main d-flex-center-evenly flex-column" style="height: auto; min-height: 800px; width: 90vw; max-width: 1800px; padding: 20px;" id="popup_GraficoMain">
        <button onclick="mostra_Grafico()" style="align-self: flex-end; background-color: #dc3545; color: white; border: none; padding: 10px 20px; border-radius: 4px; font-size: 18px; cursor: pointer; margin-bottom: 10px;">X</button>
        <div class="popup-content" style="width: 100%; height: 700px; overflow: hidden;">
        <button onclick="exportarModeloPDF()" class="btn btn-success">
            <i class="fa-solid fa-file-pdf"></i> Exportar Modelo Completo
        </button>
            <<!-- Adicione o canvas aqui -->>
            <canvas id="classificacoesChart" style="width: 100%; height: 100%;"></canvas>
        </div>
    </div>
</section>

<script>

function expandeMain(id_expandir) {
  // Seleciona todos os elementos principais relacionados ao id
  var divs_expandir = document.querySelectorAll('[id^="main-' + id_expandir + '"]');
  var plus_trocar = document.getElementById('plus-' + id_expandir);
  var minus_trocar = document.getElementById('minus-' + id_expandir);
  
  // Verifica o estado atual usando o primeiro elemento
  var isHidden = divs_expandir[0].classList.contains('hidden');
  
  // Aplica a mudança em todas as divs relacionadas
  divs_expandir.forEach(function(div) {
    if (isHidden) {
      div.classList.remove('hidden');
    } else {
      div.classList.add('hidden');
    }
  });
  
  // Atualiza os ícones
  if (isHidden) {
    plus_trocar.classList.add('hidden');
    minus_trocar.classList.remove('hidden');
  } else {
    plus_trocar.classList.remove('hidden');
    minus_trocar.classList.add('hidden');
  }
}
//* Mostrar titulo de um nível nas telas de Utilizar modelo e cadastrar estrutura:
function mosstra_titulo(id) {
  let titulo = document.getElementById('titulo-nivel-'+id);
  if(titulo.style.maxHeight == '25px') {
    titulo.style.maxHeight = 'none';
  } else {
    titulo.style.maxHeight = '25px';
  }
}
//* Fim ---

//* Mostrar Caixa de Criação de nova estrutura para um modelo ja criado:
function showNewStructure(id) {
  let div_criacao = document.getElementById('create_new_'+id);

  if(div_criacao.classList.contains('hidden'))
    div_criacao.classList.remove('hidden');
  else
    div_criacao.classList.add('hidden');
}
//* Fim ---

//* Mostrar Modal de informações sobre a página:
function showModalInfos() {
  let modalInfos = document.getElementById('infos_modal');

  if(modalInfos.classList.contains('hidden'))
    modalInfos.classList.remove('hidden');
  else
    modalInfos.classList.add('hidden');
}
//* Fim ---

//* Mostrar Modal de confirmação de exclusão:
function showModalConfirmacao() {
  let modalConfirmacao = document.getElementById('modal_confirmacao');
  let inputConfirmaExclusao = document.getElementById('input_confirmation_exclusao');
  let btnConfirmaExclusao = document.getElementById('btn_confirma_exclusao');

  if(modalConfirmacao.classList.contains('hidden')) {
    modalConfirmacao.classList.remove('hidden');
    inputConfirmaExclusao.value = '';
    btnConfirmaExclusao.disabled = true;
  }
  else
    modalConfirmacao.classList.add('hidden');
}
//* Fim ---

//* Retira o disabled do botao de exclusão do modal de confirmação de exclusão
function liberaBotaoExclusao() {
  let inputConfirmaExclusao = document.getElementById('input_confirmation_exclusao');
  let btnConfirmaExclusao = document.getElementById('btn_confirma_exclusao');

  if(inputConfirmaExclusao.value == 'confirmo')
    btnConfirmaExclusao.disabled = false;
  else
    btnConfirmaExclusao.disabled = true;
}
//* Fim ---

//* Utilziar modelo: mostra os inputs de nivel a serem escolhidos
function mostraRangePriorizacao() {
  let checkboxPriorizacao = document.getElementById('config-priorizacao');
  let divInputsPriorizacao = document.getElementById('config-priorizacao-options');
  let btnSubmitConfigPrimaria = document.getElementById('config_primaria_submitBtn');

  if(checkboxPriorizacao.checked == true) {
    divInputsPriorizacao.style.visibility = "visible";
    btnSubmitConfigPrimaria.style.alignSelf = "end";
  } else {
    divInputsPriorizacao.style.visibility = "hidden";
    btnSubmitConfigPrimaria.style.alignSelf = "start";
  }
    

}
//* Fim ---

//* Utilizar Modelo: mostrar a configuração inicial do modelo:
function mostraOpcoesPrimariasModelo() {
  var divConfigPrimariaModelo = document.getElementById("config_primaria_modelo");

  if(divConfigPrimariaModelo.classList.contains("hidden")) {
    divConfigPrimariaModelo.classList.remove("hidden");
  } else {
    divConfigPrimariaModelo.classList.add("hidden");
  }
}
//* Fim ---



//* Abrir pop up de calcular nivel de modelo
function mostra_CalcularNivel() {
  const divPopUp = document.getElementById("popup_CalcularNivel");
  console.log(divPopUp);
  if(divPopUp.classList.contains("hidden")) {
    divPopUp.classList.remove("hidden");
  } else {
    divPopUp.classList.add("hidden");
  }
}
//* Fim ---

//* Função para mostrar/esconder o modal do gráfico
function mostra_Grafico() {
    let popup = document.getElementById('popup_Grafico');
    
    if(popup.classList.contains('hidden')) {
        popup.classList.remove('hidden');
        // Inicializa o gráfico quando o modal é aberto
        <% if @modelo != 0 && @general_chart_data.present? %>
            var ctx = document.getElementById('classificacoesChart').getContext('2d');
            window.chartInstance = new Chart(ctx, {
                type: 'radar',
                data: <%= raw @general_chart_data.to_json %>,
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        r: {
                            beginAtZero: true,
                            min: 0,
                            max: 100,
                            ticks: {
                                display: false
                            },
                            grid: {
                                color: 'rgba(0, 0, 0, 0.1)'
                            },
                            angleLines: {
                                color: 'rgba(0, 0, 0, 0.1)'
                            },
                            pointLabels: {
                                font: {
                                    size: 18,
                                    weight: 'bold'
                                },
                                color: '#000'
                            }
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'bottom',
                            labels: {
                                font: {
                                    size: 16,
                                    weight: 'bold'
                                },
                                padding: 20,
                                color: '#000'
                            }
                        },
                        tooltip: {
                            titleFont: {
                                size: 16
                            },
                            bodyFont: {
                                size: 16
                            },
                            padding: 12,
                            callbacks: {
                                label: function(context) {
                                    return 'Nível ' + context.label + ': ' + context.raw + '% de atendimento total';
                                }
                            }
                        },
                        datalabels: {
                            color: '#000',
                            font: {
                                weight: 'bold',
                                size: 14
                            },
                            formatter: function(value) {
                                return value + '%';
                            }
                        },
                        title: {
                            display: true,
                            text: [
                                <% if @modelo != 0 %>
                                'Visão Geral por Níveis',
                                'Instituição: <%= ModeloAplicado.find(@modelo).instituicao %>',
                                'Modelo: <%= Maturidade.find(ModeloAplicado.find(@modelo).maturidade_id).nome %>',
                                'Método: <%= ModeloAplicado.find(@modelo).metodo %>',
                                'Domínio: <%= ModeloAplicado.find(@modelo).dominio %>',
                                'Nível Atual do Modelo: <%= @nivel_atual %>'
                                <% else %>
                                'Selecione um modelo para visualizar as informações'
                                <% end %>
                            ],
                            font: {
                                size: 14,
                                weight: 'bold'
                            },
                            padding: {
                                top: 10,
                                bottom: 10
                            }
                        }
                    }
                },
                plugins: [ChartDataLabels]
            });
        <% end %>
    } else {
        popup.classList.add('hidden');
        // Destroi o gráfico quando o modal é fechado para evitar problemas de memória
        if(window.chartInstance) {
            window.chartInstance.destroy();
        }
    }
}

function downloadChart() {
    const canvas = document.getElementById('classificacoesChart');
    const link = document.createElement('a');
    
    // Formata o nome do arquivo com as informações do modelo
    const fileName = <% if @modelo != 0 %>'<%= ModeloAplicado.find(@modelo).instituicao %>_<%= Maturidade.find(ModeloAplicado.find(@modelo).maturidade_id).nome %>_<%= ModeloAplicado.find(@modelo).metodo %>_<%= ModeloAplicado.find(@modelo).dominio %>'<% else %> 'grafico'<% end %>.replace(/[^a-z0-9]/gi, '_').toLowerCase() + '.png';
    
    link.download = fileName;
    link.href = canvas.toDataURL('image/png');
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
}

$(document).ready(function(){
  $(".header-select #modelo_aplicado_id").change(function(){
    var classeDaOpcao = this.value;

    var modeloSelecionado = $(this).find('option:selected');
    var opcaoSelecionada = modeloSelecionado.attr('class');

    axios.post("/visualizar/atualizar_opcao", { opcao: opcaoSelecionada , modelo: classeDaOpcao})
    .then(function(response) {
      // Lógica para sucesso na resposta
      var redirectUrl = response.data.redirect_url;
      window.location.href = redirectUrl;
      console.log(response.data);
    })
    .catch(function(error) {
      // Lógica para erro na resposta
      console.error(error);
    });
  });

  if(document.getElementById("mudancaResultado")) {
    var test = document.getElementById("mudancaResultado");
    
    if (test.classList.value == "1") {
      var elementos = document.querySelectorAll(".abrir_form_resultado_esperado");
      
      for (var i = 0; i < elementos.length; i++) {
        elementos[i].classList.remove('icon-plus');
        elementos[i].classList.add('icon-caret-right');
        elementos[i].nextElementSibling.nextElementSibling.nextElementSibling.remove();
      }
    }
  }
});

function exportarModeloPDF() {
    if (!window.chartInstance) return;

    const pdf = new jspdf.jsPDF({
        orientation: 'landscape',
        unit: 'mm',
        format: [210, 297] // Aumenta para A4 landscape (210x297mm)
    });

    const pageWidth = pdf.internal.pageSize.width;
    const pageHeight = pdf.internal.pageSize.height;
    const marginLeft = 10;
    const marginRight = 10;
    const contentWidth = pageWidth - marginLeft - marginRight;
    let currentY = 20;

    function normalizeText(text) {
        if (!text) return '';
        let cleanedText = text.replace(/\s+/g, ' ').trim();
        cleanedText = cleanedText.replace(/[!'\"]/g, ' → ');
        cleanedText = cleanedText.normalize('NFC').replace(/[\u0300-\u036f]/g, '');
        return cleanedText;
    }

    function addWrappedText(text, y, fontSize = 12, isBold = false, align = 'left') {
        if (!text) return y;
        text = normalizeText(text);
        pdf.setFont('helvetica', isBold ? 'bold' : 'normal');
        pdf.setFontSize(fontSize);
        const effectiveWidth = contentWidth - 30;
        const splitText = pdf.splitTextToSize(text, effectiveWidth);
        const textHeight = splitText.length * fontSize * 0.5;
        if (y + textHeight > pageHeight - 25) {
            pdf.addPage();
            y = 20;
        }
        splitText.forEach((line, index) => {
            const indent = index === 0 ? 0 : 0;
            pdf.text(line, align === 'center' ? pageWidth / 2 : marginLeft + indent, y, { align });
            y += fontSize * 0.5;
        });
        return y + 4;
    }

    function addWrappedTitle(text, y, fontSize = 16) {
        pdf.setFont('helvetica', 'bold');
        pdf.setFontSize(fontSize);
        pdf.text(text, pageWidth / 2, y, { align: 'center' });
        return y + fontSize + 8;
    }

    function safeGetText(element, selector) {
        try {
            if (!element) return '';
            const target = selector ? element.querySelector(selector) : element;
            return normalizeText(target?.textContent?.trim() || '');
        } catch (error) {
            console.log('Erro ao extrair texto:', error);
            return '';
        }
    }

    function addWrappedTitle(text, y, fontSize = 16) {
        pdf.setFont('helvetica', 'bold');
        pdf.setFontSize(fontSize);

        pdf.text(text, pageWidth / 2, y, { align: 'center' });
        return y + fontSize + 8;
    }

    pdf.setFont('helvetica', 'normal');
    pdf.setFontSize(12);
    pdf.setTextColor(50, 50, 50);

    currentY = addWrappedTitle('Relatório de Maturidade', currentY);
    currentY += 8;

    try {
        const canvas = document.getElementById('classificacoesChart');
        if (canvas) {
            // Salva tamanho original
            const originalWidth = canvas.width;
            const originalHeight = canvas.height;
            const originalStyleWidth = canvas.style.width;
            const originalStyleHeight = canvas.style.height;
            const container = canvas.parentElement;
            const originalContainerWidth = container ? container.style.width : '';
            const originalContainerHeight = container ? container.style.height : '';
            // Calcula altura máxima disponível na página
            const maxGraphHeight = pageHeight - currentY - 40; // 40mm de margem inferior
            const maxGraphWidth = contentWidth * 0.99;
            const graphSize = Math.min(maxGraphWidth, maxGraphHeight);
            // Aumenta temporariamente o tamanho do canvas e do container para garantir nitidez e área útil
            canvas.width = 1200;
            canvas.height = 1200;
            canvas.style.width = '1200px';
            canvas.style.height = '1200px';
            if (container) {
                container.style.width = '1200px';
                container.style.height = '1200px';
            }
            if (window.chartInstance) {
                window.chartInstance.resize();
                window.chartInstance.update();
            }
            const imgData = canvas.toDataURL('image/png');
            // Restaura tamanho original do canvas e do container
            canvas.width = originalWidth;
            canvas.height = originalHeight;
            canvas.style.width = originalStyleWidth;
            canvas.style.height = originalStyleHeight;
            if (container) {
                container.style.width = originalContainerWidth;
                container.style.height = originalContainerHeight;
            }
            if (window.chartInstance) {
                window.chartInstance.resize();
                window.chartInstance.update();
            }
            // Centraliza e desenha o gráfico no tamanho ideal
            const width = graphSize;
            const height = graphSize;
            const centerX = (pageWidth - width) / 2;
            pdf.addImage(imgData, 'PNG', centerX, currentY, width, height);
            currentY += height + 15;
        }
    } catch (error) {
        console.log('Erro ao processar gráfico:', error);
    }

    const processedHeaders = new Set();
    document.querySelectorAll('.nivel').forEach(nivelDiv => {
        const nivelHeader = safeGetText(nivelDiv.querySelector('h3'));
        if (!nivelHeader || processedHeaders.has(nivelHeader)) return;
        processedHeaders.add(nivelHeader);
        pdf.addPage();
        currentY = 20;
        currentY = addWrappedTitle(`Nível ${nivelHeader}`, currentY, 14);
        currentY += 8;
        nivelDiv.querySelectorAll('.resultado').forEach(resultado => {
            const resultadoHeader = safeGetText(resultado.querySelector('h3'));
            if (!resultadoHeader || processedHeaders.has(resultadoHeader)) return;
            processedHeaders.add(resultadoHeader);
            if (currentY + 30 > pageHeight - 25) {
                pdf.addPage();
                currentY = 20;
            }
            currentY = addWrappedText(resultadoHeader, currentY, 12, true);
            currentY += 5;
            const artefatos = [];
            const justificativas = [];
            resultado.querySelectorAll('.table-row').forEach(row => {
                const descricao = safeGetText(row.querySelector('.descricao-artefato'));
                const nomeArquivo = safeGetText(row.querySelector('.download-link'));
                const classificacao = safeGetText(row.querySelector('.avaliacao-valor'));
                let justificativa = safeGetText(row.querySelector('.descricao-avaliador-bloco'));
                if (justificativa.toLowerCase().startsWith('justificativa:')) {
                  justificativa = justificativa.substring('justificativa:'.length).trim();
                }
                if (nomeArquivo) {
                    let artefatoTexto = descricao ? `${descricao} - ${nomeArquivo}` : nomeArquivo;
                    if (artefatoTexto.length > 60) artefatoTexto = artefatoTexto.substring(0, 57) + '...';
                    // Sistema de cores para classificação
                    let classStyle = {};
                    if (classificacao.toLowerCase().includes('totalmente')) {
                      classStyle = { textColor: [30, 120, 30], fillColor: [220, 255, 220], fontStyle: 'bold' };
                    } else if (classificacao.toLowerCase().includes('parcial')) {
                      classStyle = { textColor: [180, 120, 0], fillColor: [255, 245, 200], fontStyle: 'bold' };
                    } else if (classificacao.toLowerCase().includes('não atende') || classificacao.toLowerCase().includes('nao atende')) {
                      classStyle = { textColor: [180, 40, 40], fillColor: [255, 220, 220], fontStyle: 'bold' };
                    } else {
                      classStyle = { textColor: [120, 120, 120], fillColor: [240, 240, 240], fontStyle: 'italic' };
                    }
                    artefatos.push([
                      { content: artefatoTexto },
                      { content: classificacao, styles: classStyle }
                    ]);
                    justificativas.push(justificativa);
                }
            });
            if (artefatos.length > 0) {
                // Monta o corpo da tabela com linhas extras para justificativas
                let body = [];
                artefatos.forEach((row, idx) => {
                    body.push(row);
                    if (justificativas[idx]) {
                        body.push([
                            { content: 'Justificativa: ' + justificativas[idx], colSpan: 2, styles: { fontStyle: 'italic', fontSize: 9, textColor: 80, overflow: 'linebreak' } }
                        ]);
                    }
                });
                pdf.autoTable({
                    startY: currentY,
                    head: [['Artefato', 'Classificação']],
                    body: body,
                    styles: {
                        fontSize: 10,
                        cellPadding: 1,
                        overflow: 'linebreak',
                        cellWidth: 'auto',
                        valign: 'middle',
                        fillColor: [240, 240, 240],
                        textColor: 30,
                        font: 'helvetica',
                        minCellHeight: 6
                    },
                    columnStyles: {
                        0: { cellWidth: contentWidth * 0.65 },
                        1: { cellWidth: contentWidth * 0.35, halign: 'center' }
                    },
                    tableWidth: 'wrap',
                    pageBreak: 'auto'
                });
                currentY = pdf.lastAutoTable.finalY + 10;
            }
        });
    });
    const totalPages = pdf.internal.getNumberOfPages();
    for (let i = 1; i <= totalPages; i++) {
        pdf.setPage(i);
        pdf.setFontSize(8);
        pdf.setTextColor(100, 100, 100);
        const today = new Date().toLocaleDateString('pt-BR');
        pdf.text(`Relatório gerado em ${today} - Página ${i} de ${totalPages}`, pageWidth / 2, pageHeight - 10, { align: 'center' });
    }
    try {
        pdf.save('modelo-maturidade-completo.pdf');
    } catch (error) {
        console.log('Erro ao salvar PDF:', error);
        alert('Ocorreu um erro ao gerar o PDF. Por favor, tente novamente.');
    }
}









</script>
